@model RetailSales.Models.Employee

@{
    ViewData["Title"] = "Employee";
}
<style>
    .mandatory {
        color: red;
        position: relative;
        top: 2px;
        left: 5px;
    }
</style>

<script type="text/javascript">
    @if (TempData["notice"] != null)
    {
        @:alert('@TempData["notice"]');
    }
</script>
<style>

    .mandatory {
        color: red;
        position: relative;
        top: 2px;
        left: 5px;
    }

    .preview {
        display: inline-block;
        margin: 10px;
        padding-left: 900px;
    }

        .preview img {
            width: 70px;
            height: 70px;
            margin-right: 10px;
        }

    input[type=file] {
        display: block;
        padding-left: 700px;
    }

</style>
<div class="row wrapper border-bottom page-heading">
    <div class="col-lg-12">

        <ol class="breadcrumb">
            <li class="active"> <strong>Employee</strong> </li>
        </ol>
    </div>
</div>
<div class="wrapper-content ">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="widgets-container">
                    @using (Html.BeginForm("Employee", "Employee", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <form>
                         


                           

                            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Employee Details</button>
                                </li>
                                @*<li class="nav-item" role="presentation">
                                    <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Education Details</button>
                                </li>*@
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Employee Login</button>
                                </li>
                            </ul>
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <br /> <label for="inputName3" class="col-sm-4 control-label">Emp Id<label class="mandatory">*</label></label>
                                                <div class="col-sm-8">
                                                    @Html.TextBoxFor(C => C.EmpId, new { @id = "txtEmpId", @class = "form-control", @TabIndex = 1 })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <br><label for="inputName3" class="col-sm-4 control-label">Employee Name<label class="mandatory">*</label></label>
                                                <div class="col-sm-8">
                                                    @Html.TextBoxFor(C => C.Ename, new { @id = "txtEname", @class = "form-control", @TabIndex = 1 })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <br><label for="inputName3" class="col-sm-4 control-label">Date Of Birth<label class="mandatory">*</label></label>

                                                <div class="input-group date form_date col-sm-4" data-date="" data-date-format="dd-M-yyyy">
                                                    @Html.TextBoxFor(C => C.Dbirth, new { @id = "Dbirth", @class = "form-control", @readonly = true })
                                                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <br /><label for="inputName3" class="col-sm-3 control-label">Gender<label class="Mandatory"></label></label>
                                                <div class="col-sm-8">
                                                    <div class="input-group">

                                                        @Html.RadioButtonFor(C => C.Gender, "MALE", new { @TabIndex = 2 })
                                                        <label id="mt-radio">MALE</label>&emsp;
                                                        @Html.RadioButtonFor(C => C.Gender, "FEMALE", new { @TabIndex = 3 })
                                                        <label id="mt-radio">FEMALE</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <br /><label for="inputName3" class="col-sm-3 control-label">Marital status<label class="Mandatory"></label></label>
                                                <div class="col-sm-8">
                                                    <div class="input-group">

                                                        @Html.RadioButtonFor(C => C.Maritalstatus, "Married", new { @TabIndex = 2 })
                                                        <label id="mt-radio">Married</label>&emsp;
                                                        @Html.RadioButtonFor(C => C.Maritalstatus, "Unmarried", new { @TabIndex = 3 })
                                                        <label id="mt-radio">Unmarried</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <br /> <label for="inputName3" class="col-sm-4 control-label">Qualification<label class="mandatory">*</label></label>
                                                    <div class="col-sm-8">
                                                        @Html.TextBoxFor(C => C.Qualification, new { @id = "txtQualification", @class = "form-control", @TabIndex = 1 })
                                                    </div>
                                                </div>
                                            </div>
                                     </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                          <div class="form-group">
                                            <br /><label for="inputName3" class="col-sm-4 control-label">Address<label class="mandatory">*</label></label>
                                            <div class="col-sm-8">
                                                @Html.TextBoxFor(C => C.Address, new { @id = "txtAddress", @class = "form-control", @TabIndex = 1 })
                                            </div>
                                          </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <br /><label for="inputName3" class="col-sm-4 control-label">State<label class="mandatory"></label></label>
                                                <div class="col-sm-8">
                                                    @Html.DropDownListFor(C => C.Stateid, Model.Statelst, "--Please Select--", new { @id = "ddlState", @Class = "form-control _select", @TabIndex = 1 })

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <br /><label for="inputName3" class="col-sm-4 control-label">City<label class="mandatory"></label></label>
                                                <div class="col-sm-8">
                                                    @Html.DropDownListFor(C => C.Cityid, Model.Citylst, "--Please Select--", new { @id = "ddlCity", @Class = "form-control _select", @TabIndex = 1 })

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <br><label for="inputName3" class="col-sm-4 control-label">Mobile<label class="mandatory">*</label></label>
                                                <div class="col-sm-8">
                                                    @Html.TextBoxFor(C => C.mobile, new { @id = "txtmobile", @class = "form-control", @TabIndex = 1 })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <br> <label for="inputName3" class="col-sm-4 control-label">Email<label class="mandatory"></label></label>
                                                <div class="col-sm-8">
                                                    @Html.TextBoxFor(C => C.Email, new { @id = "txtEmail", @class = "form-control", @TabIndex = 1 })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <br><label for="inputName3" class="col-sm-4 control-label">Employee Status<label class="mandatory"></label></label>
                                                <div class="col-sm-8">
                                                    @Html.TextBoxFor(C => C.EmployeeStatus, new { @id = "txtEmployeeStatus", @class = "form-control", @TabIndex = 1 })

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <br /><label for="inputName3" class="col-sm-4 control-label">Bank<label class="mandatory">*</label></label>
                                            <div class="col-sm-8">
                                                    @Html.TextBoxFor(C => C.Bank, new { @id = "txtBank", @class = "form-control", @TabIndex = 1 })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                            <div class="form-group">
                                                <br /><label for="inputName3" class="col-sm-4 control-label">Account Number<label class="mandatory">*</label></label>
                                                <div class="col-sm-8">
                                                    @Html.TextBoxFor(C => C.Account, new { @id = "txtAccount", @class = "form-control", @TabIndex = 1 })
                                                </div>
                                            </div>
                                        </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <br /><label for="inputName3" class="col-sm-4 control-label">Aadhar Number<label class="mandatory">*</label></label>
                                            <div class="col-sm-8">
                                                    @Html.TextBoxFor(C => C.Aadhar, new { @id = "txtAadhar", @class = "form-control", @TabIndex = 1 })
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                      
                                        @*<div class="col-lg-4">
                                            <div class="form-group">
                                                <br>  <label for="inputName3" class="col-sm-4 control-label">Date Of Joining<label class="mandatory">*</label></label>
                                                <div class="col-sm-8">
                                                    @Html.TextBoxFor(C => C.Djoining, new { @id = "txtDjoining", @class = "form-control", @TabIndex = 1 })
                                                </div>
                                            </div>
                                        </div>*@
                                   
                                   @* <div class="row">*@
                                        @*<div class="col-lg-4">
                                            <div class="form-group">
                                                <br /> <label for="inputName3" class="col-sm-4 control-label">Remarks<label class="mandatory"></label></label>
                                                <div class="col-sm-8">
                                                    @Html.TextBoxFor(C => C.Remark, new { @id = "txtRemark", @class = "form-control", @TabIndex = 1 })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <br> <label for="inputName3" class="col-sm-4 control-label">Approved By<label class="mandatory"></label></label>
                                                <div class="col-sm-8">
                                                    @Html.TextBoxFor(C => C.Approved, new { @id = "txtApproved", @class = "form-control", @TabIndex = 1 })
                                                </div>
                                            </div>
                                        </div>*@
                                        @*<div class="col-lg-4">
                                            <div class="form-group">
                                                <br> <label for="inputName3" class="col-sm-4 control-label">Designation<label class="mandatory">*</label></label>
                                                <div class="col-sm-8">
                                                    @Html.TextBoxFor(C => C.Designation, new { @id = "txtDesignation", @class = "form-control", @TabIndex = 1 })
                                                </div>
                                            </div>
                                        </div>*@
                                   @* </div>*@

                                    @*<div class="row">*@
                                        @*<div class="col-lg-4">
                                            <div class="form-group">
                                                <br /> <label for="inputName3" class="col-sm-4 control-label">Branch<label class="mandatory">*</label></label>
                                                <div class="col-sm-8">
                                                    @Html.TextBoxFor(C => C.Branch, new { @id = "txtBranch", @class = "form-control", @TabIndex = 1 })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <br> <label for="inputName3" class="col-sm-4 control-label">Department<label class="mandatory">*</label></label>
                                                <div class="col-sm-8">
                                                    @Html.TextBoxFor(C => C.Department, new { @id = "txtDepartment", @class = "form-control", @TabIndex = 1 })
                                                </div>
                                            </div>
                                        </div>*@
                                       @* <div class="col-md-4">
                                                <div class="form-group">
                                                <br> <label for="inputName3" class="col-sm-4 control-label">Maritalstatus<label class="mandatory">*</label></label>
                                                    <div class="col-sm-8">
                                                    @Html.DropDownListFor(C => C.Maritalstatus, Model.Materialstatuslst, "---Please Select---", new { @id = "ddlProduct", @Class = "form-control _select", @TabIndex = 1 })
                                                    </div>
                                                </div>
                                         </div>*@
                                  @*  </div>*@
                                   @* <div class="row">*@
                                       @* <div class="col-lg-4">
                                            <div class="form-group">
                                                <br /> <label for="inputName3" class="col-sm-4 control-label">Email Personal<label class="mandatory"></label></label>
                                                <div class="col-sm-8">
                                                    @Html.TextBoxFor(C => C.Emailpersonal, new { @id = "txtEmailpersonal", @class = "form-control", @TabIndex = 1 })

                                                </div>
                                            </div>
                                        </div>*@
                                        @*<div class="col-lg-4">
                                            <div class="form-group">
                                                <br>  <label for="inputName3" class="col-sm-4 control-label">Date Of Joining<label class="mandatory">*</label></label>
                                                <div class="col-sm-8">
                                                    @Html.TextBoxFor(C => C.Djoining, new { @id = "txtDjoining", @class = "form-control", @TabIndex = 1 })
                                                </div>
                                            </div>
                                        </div>*@
                                        @*<div class="col-lg-4">
                                            <div class="form-group">
                                                <br><label for="inputName3" class="col-sm-4 control-label">Date Of Birth<label class="mandatory">*</label></label>
                                                <div class="col-sm-8">
                                                    @Html.TextBoxFor(C => C.Dbirth, new { @id = "txtDbirth", @class = "form-control", @TabIndex = 1 })
                                                </div>
                                            </div>
                                        </div>*@
                                  @*  </div>*@
                                    <div class="row">
                                        <div class="col-lg-5">
                                            <div class="form-group">
                                                <br><label for="inputName3" class="col-sm-3 control-label">Date Of Joining<label class="mandatory">*</label></label>

                                                <div class="input-group date form_date col-sm-4" data-date="" data-date-format="dd-M-yyyy">
                                                    @Html.TextBoxFor(C => C.Djoining, new { @id = "Djoining", @class = "form-control", @readonly = true })
                                                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-5">
                                            <div class="form-group">
                                                <br><label for="inputName3" class="col-sm-3 control-label">Date Of Leaving<label class="mandatory"></label></label>

                                                <div class="input-group date form_date col-sm-4" data-date="" data-date-format="dd-M-yyyy">
                                                    @Html.TextBoxFor(C => C.Dleaving, new { @id = "Dleaving", @class = "form-control", @readonly = true })
                                                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                                </div>
                                            </div>
                                        </div>
                                        
                                       @* <div class="col-lg-4">
                                            <div class="form-group">
                                                <br> <label for="inputName3" class="col-sm-4 control-label">Degree<label class="mandatory"></label></label>
                                                <div class="col-sm-8">
                                                    @Html.TextBoxFor(C => C.Degree, new { @id = "txtDegree", @class = "form-control", @TabIndex = 1 })
                                                </div>
                                            </div>
                                        </div>*@
                                    @*</div>*@
                                    @*<div class="row">
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <br><label for="inputName3" class="col-sm-4 control-label">Report To<label class="mandatory"></label></label>
                                                <div class="col-sm-8">
                                                    @Html.TextBoxFor(C => C.Report, new { @id = "txtReport", @class = "form-control", @TabIndex = 1 })<br />
                                                </div>
                                            </div>
                                        </div>
                                    </div>*@

                                </div>
                           </div>
                                @*2rd tab*@
                                @*<div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">

                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <br /> <label for="inputName3" class="col-sm-4 control-label">Qualification<label class="mandatory">*</label></label>
                                                <div class="col-sm-8">
                                                    @Html.TextBoxFor(C => C.Qualification, new { @id = "txtQualification", @class = "form-control", @TabIndex = 1 })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <br /> <label for="inputName3" class="col-sm-4 control-label">University<label class="mandatory">*</label></label>
                                                <div class="col-sm-8">
                                                    @Html.TextBoxFor(C => C.University, new { @id = "txtUniversity", @class = "form-control", @TabIndex = 1 })
                                                </div>
                                            </div>
                                        </div>
                                  
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <br /> <label for="inputName3" class="col-sm-4 control-label">School<label class="mandatory">*</label></label>
                                            <div class="col-sm-8">
                                                @Html.TextBoxFor(C => C.School, new { @id = "txtSchool", @class = "form-control", @TabIndex = 1 })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <br /> <label for="inputName3" class="col-sm-4 control-label">College<label class="mandatory">*</label></label>
                                                <div class="col-sm-8">
                                                    @Html.TextBoxFor(C => C.College, new { @id = "txtCollege", @class = "form-control", @TabIndex = 1 })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <br /> <label for="inputName3" class="col-sm-4 control-label">Place<label class="mandatory">*</label></label>
                                                <div class="col-sm-8">
                                                    @Html.TextBoxFor(C => C.Place, new { @id = "txtPlace", @class = "form-control", @TabIndex = 1 })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <br /> <label for="inputName3" class="col-sm-4 control-label">Obedient<label class="mandatory">*</label></label>
                                                    <div class="col-sm-8">
                                                        @Html.TextBoxFor(C => C.Obedient, new { @id = "txtObedient", @class = "form-control", @TabIndex = 1 })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                       
                                </div>
                                <div class="row">
                                        <div class="col-lg-5">
                                            <div class="form-group">
                                                <br><label for="inputName4" class="col-sm-3 control-label">Year Of Passing<label class="mandatory"></label></label>

                                                <div class="input-group date form_date col-sm-4" data-date="" data-date-format="dd-M-yyyy">
                                                    @Html.TextBoxFor(C => C.YPassing, new { @id = "YPassing", @class = "form-control", @readonly = true })
                                                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                                </div>
                                            </div>
                                        </div>
                               </div>
                            </div>*@
                                @*3rd tab*@

                            <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <br /> <label for="inputName3" class="col-sm-4 control-label">Username<label class="mandatory">*</label></label>
                                                <div class="col-sm-8">
                                                @Html.TextBoxFor(C => C.Uname, new { @id = "txtUname", @class = "form-control", @TabIndex = 1 })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <br /> <label for="inputName3" class="col-sm-4 control-label">Password<label class="mandatory">*</label></label>
                                                <div class="col-sm-8">
                                                @Html.TextBoxFor(C => C.Pass, new { @id = "txtPass", @class = "form-control", @TabIndex = 1 })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                            

                          
                            <div style="height:30px;"></div>
                            <div class="col-lg-8"></div>
                            <button type="submit" class="btn btn-success" type="button" id="btnSave">Submit</button>
                            <button class="btn btn-danger" type="button" causesvalidation="false" onclick="location.href='@Url.Action("ListEmployee", "Employee")'">Cancel</button>




                        </form>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    //$(function () {
    //    $('._select').select2();
    //});

    $(document).ready(function () {
        $('#btnSave').click(function (e) {
            var isValid = true;

            if (document.getElementById("txtEmpId").value == "") {
                isValid = false;
                $(txtEmpId).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Enter EMPLOYEE ID Name");
                return false;
            }
            else {
                $(txtEmpId).css({
                    "border": "",
                    "background": ""
                });
            }
            if (document.getElementById("txtFname").value == "") {
                isValid = false;
                $(txtFname).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Enter FNAME");
                return false;
            }
            else {
                $(txtFname).css({
                    "border": "",
                    "background": ""
                });
            }
            if (document.getElementById("txtGender").value == "") {
                isValid = false;
                $(txtGender).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Enter GENDER");
                return false;
            }
            else {
                $(txtGender).css({
                    "border": "",
                    "background": ""
                });
            }
            if (document.getElementById("txtAddress").value == "") {
                isValid = false;
                $(txtAddress).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Enter ADDRESS");
                return false;
            }
            else {
                $(txtAddress).css({
                    "border": "",
                    "background": ""
                });
            }
            if (document.getElementById("txtCityid").value == "") {
                isValid = false;
                $(txtCityid).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Enter CITY ID");
                return false;
            }
            else {
                $(txtCityid).css({
                    "border": "",
                    "background": ""
                });
            }
            if (document.getElementById("txtStateid").value == "") {
                isValid = false;
                $(txtStateid).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Enter STATE ID");
                return false;
            }
            else {
                $(txtStateid).css({
                    "border": "",
                    "background": ""
                });
            }
            if (document.getElementById("txtCountryid").value == "") {
                isValid = false;
                $(txtCountryid).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Enter COUNTRY ID");
                return false;
            }
            else {
                $(txtCountryid).css({
                    "border": "",
                    "background": ""
                });
            }
            if (document.getElementById("txtmobile").value == "") {
                isValid = false;
                $(txtmobile).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Enter MOBILE");
                return false;
            }
            else {
                $(txtmobile).css({
                    "border": "",
                    "background": ""
                });
            }
            if (document.getElementById("txtEmail").value == "") {
                isValid = false;
                $(txtEmail).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Enter EMAIL");
                return false;
            }
            else {
                $(txtEmail).css({
                    "border": "",
                    "background": ""
                });
            }
            if (document.getElementById("txtRemark").value == "") {
                isValid = false;
                $(txtRemark).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Enter REMARKS");
                return false;
            }
            else {
                $(txtRemark).css({
                    "border": "",
                    "background": ""
                });
            }
            if (document.getElementById("txtApproved").value == "") {
                isValid = false;
                $(txtApproved).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Enter APPROVED BY");
                return false;
            }
            else {
                $(txtApproved).css({
                    "border": "",
                    "background": ""
                });
            }
            if (document.getElementById("txtDesignation").value == "") {
                isValid = false;
                $(txtDesignation).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Enter DESIGNATION");
                return false;
            }
            else {
                $(txtDesignation).css({
                    "border": "",
                    "background": ""
                });
            }
            if (document.getElementById("txtBranch").value == "") {
                isValid = false;
                $(txtBranch).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Enter BRANCH");
                return false;
            }
            else {
                $(txtBranch).css({
                    "border": "",
                    "background": ""
                });
            }
            if (document.getElementById("txtDepartment").value == "") {
                isValid = false;
                $(txtDepartment).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Enter DEPARTMENT");
                return false;
            }
            else {
                $(txtDepartment).css({
                    "border": "",
                    "background": ""
                });
            }
            if (document.getElementById("txtMaritalstatus").value == "") {
                isValid = false;
                $(txtMaritalstatus).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Enter MATERIALSTATUS");
                return false;
            }
            else {
                $(txtMaritalstatus).css({
                    "border": "",
                    "background": ""
                });
            }
            if (document.getElementById("txtEmailpersonal").value == "") {
                isValid = false;
                $(txtEmailpersonal).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Enter EMAILPERSONAL");
                return false;
            }
            else {
                $(txtEmailpersonal).css({
                    "border": "",
                    "background": ""
                });
            }
            if (document.getElementById("txtDjoining").value == "") {
                isValid = false;
                $(txtDjoining).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Enter DATEOFJOINING");
                return false;
            }
            else {
                $(txtDjoining).css({
                    "border": "",
                    "background": ""
                });
            }
            if (document.getElementById("txtDbirth").value == "") {
                isValid = false;
                $(txtDbirth).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Enter DATEOFBIRTH");
                return false;
            }
            else {
                $(txtDbirth).css({
                    "border": "",
                    "background": ""
                });
            }
            if (document.getElementById("txtDleaving").value == "") {
                isValid = false;
                $(txtDleaving).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Enter DATEOFLEAVING");
                return false;
            }
            else {
                $(txtDleaving).css({
                    "border": "",
                    "background": ""
                });
            }
            if (document.getElementById("txtDegree").value == "") {
                isValid = false;
                $(txtDegree).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Enter DEGREE");
                return false;
            }
            else {
                $(txtDegree).css({
                    "border": "",
                    "background": ""
                });
            }
            if (document.getElementById("txtEmployeeStatus").value == "") {
                isValid = false;
                $(txtEmployeeStatus).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Enter EMPLOYEE STATUS");
                return false;
            }
            else {
                $(txtEmployeeStatus).css({
                    "border": "",
                    "background": ""
                });
            }
            if (document.getElementById("txtReport").value == "") {
                isValid = false;
                $(txtReport).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Enter REPORT TO");
                return false;
            }
            else {
                $(txtReport).css({
                    "border": "",
                    "background": ""
                });
            }
            if (isValid == false)
                e.preventDefault();
        });

    });
    $('.form_date').datetimepicker({
        //   language:  'fr',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        endDate: new Date(),
        forceParse: 0
    });
</script>
