@model RetailSales.Models.Master.ProductName

@{
    ViewData["Title"] = "ProductName";
}
<style>
    .mandatory {
        color: red;
        position: relative;
        top: 2px;
        left: 5px;
    }
</style>
<script type="text/javascript">
    @if (TempData["notice"] != null)
    {
        @:alert('@TempData["notice"]');
    }
</script>
<div style="height:20px;"></div>
<div class="row wrapper border-bottom page-heading">
    <div class="col-lg-12">

        <ol class="breadcrumb">
            <li class="active"> <strong>Product</strong> </li>
        </ol>
    </div>
</div>
<div class="wrapper-content ">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="widgets-container">
                    @using (Html.BeginForm("ProductName", "ProductName", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <form>
                            <br />
                            <div class="row">
                                
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <br> <label for="inputName3" class="col-sm-5 control-label">Product Category<label class="mandatory">*</label></label>
                                        <div class="col-sm-12">
                                            @Html.DropDownListFor(C => C.Category, Model.Categorylst, "---Please Select---", new { @id = "ddlProduct", @Class = "form-control _select", @TabIndex = 1 })
                                            @Html.HiddenFor(C => C.ID)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <br><label for="inputName3" class="col-sm-5 control-label">Product Name<label class="mandatory">*</label></label>
                                        <div class="col-sm-12">
                                            @Html.TextBoxFor(C => C.ProName, new { @id = "txtProName", @class = "form-control", @TabIndex = 2})
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <br><label for="inputName3" class="col-sm-5 control-label">Description<label class="mandatory"></label></label>
                                        <div class="col-sm-12">
                                            @Html.TextAreaFor(C => C.Description, new { @id = "txtDescription", @class = "form-control", @TabIndex = 3 })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div style="height:30px;"></div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="btn-group">
                                        <p style="float:right;"> <input type="button" value="Add Row" onclick="AddRow()" class="btn btn-primary" /></p>
                                    </div>
                                </div>
                            </div>
                            
                            <div style="height:30px;"></div>
                            <div class="row">
                                <div class="col-lg-12 ">
                                    <div class="col-md-12" style="overflow-x:scroll; min-width:300px; min-height:100px;">
                                        <table class="table table-striped table-hover " id="dataTable">
                                            <thead>
                                                <tr>
                                                    <th>Variant </th>
                                                    <th>Unit</th>
                                                    <th> HSN </th>
                                                    <th>Min Qty </th>
                                                    <th>Rate (₹) </th>   
                                                    <th>Location</th>
                                                    <th>Shop BIN No</th>
                                                    <th>Godown BIN No</th>
                                                    <th>Product Description </th>
                                            </thead>
                                            <tbody id="tbBooks">
                                                @{

                                                    int i = 0;
                                                    int j = 1;

                                                    foreach (var item in Model.ProductNameLst.ToList())
                                                    {
                                                                <tr id="trBook@(i)" class="chkitemlst" style="height: 30px;border-bottom: 1px dashed #ddd;">

                                                                    <td>
                                                                        @Html.TextBoxFor(o => o.ProductNameLst[i].Variant, new { @class = "form-control", @id = "txtVarient" + i, style = "width: 220px;" })
                                                                        @Html.HiddenFor(o => o.ProductNameLst[i].ID,new {@id="hddetailid" + i})
                                                                    </td>
                                                                    <td>
                                                                        @Html.DropDownListFor(o => o.ProductNameLst[i].Uom, Model.ProductNameLst[i].UOMlst, "---Please Select---", new { @id = "ddlUOM" + i, @class = "form-control _select newcss", style = "width: 100px;" })
                                                                    </td>
                                                                    <td>
                                                                        @Html.DropDownListFor(o => o.ProductNameLst[i].Hsn, Model.ProductNameLst[i].HSNlst, "---Please Select---", new { @id = "ddlHsn" + i, @class = "form-control _select newcss", style = "width: 100px;" })
                                                                    </td>
                                                                    <td>

                                                                        @Html.TextBoxFor(o => o.ProductNameLst[i].MinQty, new { @id = "txtMinQty" + i, @class = "form-control", style = "width: 100px;" })
                                                                    </td>
                                                                    <td>
                                                                        @Html.HiddenFor(o => o.ProductNameLst[i].Isvalid, new { @id = "Isvalid" + i })
                                                                        @Html.TextBoxFor(o => o.ProductNameLst[i].Rate, new { @id = "txtRate" + i, @class = "form-control", style = "width: 100px; text-align: right;",@readonly="true" })
                                                                    </td>
                                                            <td> @Html.DropDownListFor(o => o.ProductNameLst[i].Location, Model.ProductNameLst[i].locationlist, "---Please Select---", new { @id = "ddllocation"+ i, @class = "form-control _select", @TabIndex = 1, @onchange="changeLocation(this.value," + i + ")"})</td>

                                                            <td id="shopBinTd_@i">
                                                                @Html.DropDownListFor(o => o.ProductNameLst[i].ShopBin, Model.ProductNameLst[i].ShopBinlist, "---Please Select---", new { @class = "form-control _select newcss", @id = "ddlShopBin" + i, style = "width: 120px;" })
                                                            </td>
                                                            <td id="godownBinTd_@i">
                                                                @Html.DropDownListFor(o => o.ProductNameLst[i].GodownBin, Model.ProductNameLst[i].GodownBinlist, "---Please Select---", new { @class = "form-control _select newcss", @id = "ddlGodownBin" + i, style = "width: 120px;" })
                                                            </td>
                                                                    <td>
                                                                        @Html.TextAreaFor(o => o.ProductNameLst[i].ProdDesc, new { @id = "txtProdDesc" + i, @class = "form-control", style = "width: 150px;" })
                                                                    </td>                                                                                                                                        
                                                                    <td>
                                                                        @Html.HiddenFor(o => o.ProductNameLst[i].Isvalid, new { @id = "Isvalid" + i })
                                                                        <img onclick="removeRow(@(i));" src="../Images/delete.png" style="cursor:pointer" /> <input name="ProductNameLst.Index" type="hidden" value="@(i)" />
                                                                    </td>
                                                                </tr>
                                                        i = i + 1;
                                                        j = j + 1;

                                                    }
                                                }

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                
                            </div>

                            
                            
                            <div style="height:30px;"></div>
                            <div class="col-lg-8"></div>
                            <button type="submit" class="btn btn-success" type="button" id="btnSave">Submit</button>
                            <button class="btn btn-danger" type="button" causesvalidation="false" onclick="location.href='@Url.Action("ListProductName", "ProductName")'">Cancel</button>



                        </form>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $('._select').select2();
    });
    function PopulateDropDown(dropDownId, list) {
        //alert(list);
        $(dropDownId).empty().append('<option selected="selected" value="0">--Please select--</option>');
        if (list != null && list.length > 0) {
            $(dropDownId).removeAttr("disabled");
            $.each(list, function () {
                $(dropDownId).append($("<option></option>").val(this['value']).html(this['text']));
            });
        }
        $(dropDownId).trigger("liszt:updated");
    }

    $(document).ready(function () {
        $('#btnSave').click(function (e) {
            var isValid = true;

            if (document.getElementById("ddlProduct").value == "") {
                isValid = false;
                $(ddlProduct).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Select Product Category");
                return false;
            }
            else {
                $(ddlProduct).css({
                    "border": "",
                    "background": ""
                });
            }

            if (document.getElementById("txtProName").value == "") {
                isValid = false;
                $(txtProName).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Enter Product Name");
                return false;
            }
            else {
                $(txtProName).css({
                    "border": "",
                    "background": ""
                });
            }
            
            var j = 0;
            $('tr.chkitemlst').each(function () {
                if ($(this).css('display') !== 'none') {


                    if ($(this).find('#txtVarient' + j.toString()).val() == "" || $(this).find('#txtVarient' + j.toString()).val() == "0") {
                        isValid = false;
                        $(this).find('#txtVarient' + j.toString()).css({
                            "border": "1px solid red",
                            "background": "#FFCECE"
                        });

                        alert("Please Enter Variant");
                        $(this).find('#txtVarient' + j.toString()).focus();
                        return false;

                    }
                    else {
                        $(this).find('#txtVarient' + j.toString()).css({
                            "border": "",
                            "background": ""
                        });
                    }
                    if ($(this).find('#ddlUOM' + j.toString()).val() != "" || $(this).find('#ddlUOM' + j.toString()).val() != "0") {

                        if ($(this).find('#ddlUOM' + j.toString()).val() == "" || $(this).find('#ddlUOM' + j.toString()).val() == 0) {
                            isValid = false;
                            $(this).find('#ddlUOM' + j.toString()).css({
                                "border": "1px solid red",
                                "background": "#FFCECE"
                            });
                            alert("Please Select Unit");
                            $(this).find('#ddlUOM' + j.toString()).focus();
                            return false;
                        }
                        else {
                            $(this).find('#ddlUOM' + j.toString()).css({
                                "border": "",
                                "background": ""
                            });
                        }
                    }
                    if ($(this).find('#ddlHsn' + j.toString()).val() != "" || $(this).find('#ddlHsn' + j.toString()).val() != "0") {

                        if ($(this).find('#ddlHsn' + j.toString()).val() == "" || $(this).find('#ddlHsn' + j.toString()).val() == 0) {
                            isValid = false;
                            $(this).find('#ddlHsn' + j.toString()).css({
                                "border": "1px solid red",
                                "background": "#FFCECE"
                            });
                            alert("Please Select HSN");
                            $(this).find('#ddlHsn' + j.toString()).focus();
                            return false;
                        }
                        else {
                            $(this).find('#ddlHsn' + j.toString()).css({
                                "border": "",
                                "background": ""
                            });
                        }
                    }
                    if ($(this).find('#txtMinQty' + j.toString()).val() == "" || $(this).find('#txtMinQty' + j.toString()).val() == "0") {
                        isValid = false;
                        $(this).find('#txtMinQty' + j.toString()).css({
                            "border": "1px solid red",
                            "background": "#FFCECE"
                        });

                        alert("Please Enter Min Qty");
                        $(this).find('#txtMinQty' + j.toString()).focus();
                        return false;

                    }
                    else {
                        $(this).find('#txtMinQty' + j.toString()).css({
                            "border": "",
                            "background": ""
                        });
                    }
                   @* if ($(this).find('#txtRate' + j.toString()).val() == "" || $(this).find('#txtRate' + j.toString()).val() == "0") {
                        isValid = false;
                        $(this).find('#txtRate' + j.toString()).css({
                            "border": "1px solid red",
                            "background": "#FFCECE"
                        });

                        alert("Please Enter Rate");
                        $(this).find('#txtRate' + j.toString()).focus();
                        return false;

                    }
                    else {
                        $(this).find('#txtRate' + j.toString()).css({
                            "border": "",
                            "background": ""
                        });
                    }*@
                    

                }
                j += 1;
            });

            if (isValid == false)
                e.preventDefault();
        });

    });

    function removeRow(i) {
         let confirmResult = confirm("Are you sure you want to Delete this Record ?");
         var detailid=document.getElementById("hddetailid" + i).value;
           var row = document.getElementById('trBook' + i);
         if(confirmResult){

             if(detailid !="" && detailid !="0"){
                  $.ajax({
                url: "deletevariant",
                data: { "ItemId": detailid },
                type: "post",
                cache: false,
                success: function (response) {
                 alert(response);
                  row.style.display = "none";
            document.getElementById('Isvalid' + i).value = "N";
                },
                error: function () {
                    alert("Please Select Supplier");
                }
        });
             }
              else{
                     var table = document.getElementById("dataTable");
        var rowCount = table.rows.length;
        var row = document.getElementById('trBook' + i);
        var j = 0;
        $('tr.chkitemlst').each(function () {
            if ($(this).css('display') !== 'none') {
                j += 1;
            }
        });
        if (j > 1) {
            row.style.display = "none";
            document.getElementById('Isvalid' + i).value = "N";
        }
        else {
            alert("Cannot delete all the rows.")
        }
              }
            @* alert("Row Deleted");*@
         }
         else{

         }
     

    }
    function AddRow() {
        var opt = "";
        var rem= "";
        var sbin="";
        var gbin="";
        var loc = "";

        $.ajax({
             type: "POST",
             url: 'GetUOMGrpJSON',
             success: function (data) {

                 $.each(data, function () {
                     opt += "<option value=" + this.value + ">" + this.text + "</option>";
                 });
                 $.ajax({
                      type: "POST",
             url: 'GetHSNGrpJSON',
             success: function (data) {

                 $.each(data, function () {
                     rem += "<option value=" + this.value + ">" + this.text + "</option>";
                 });
                 
                       $.ajax({
                      type: "POST",
             url: 'GetshopbinJSON',
             success: function (data) {

                 $.each(data, function () {
                     sbin += "<option value=" + this.value + ">" + this.text + "</option>";
                 });

                    $.ajax({
                      type: "POST",
             url: 'GetgodownbinJSON',
             success: function (data) {

                 $.each(data, function () {
                     gbin += "<option value=" + this.value + ">" + this.text + "</option>";
                 });
                                        $.ajax({
                                            type: "POST",
                                            url: 'GetlocationJSON',
                                            success: function (data) {

                                                $.each(data, function () {
                                                    loc += "<option value=" + this.value + ">" + this.text + "</option>";
                                                });

                                                AppendRow(opt, rem, sbin, gbin, loc);
                                            }
                                        })
             }
         })

             }
         })
        
             }
         })
         }
         })
    }
    function AppendRow(opt, rem,sopt,gopt,lopt) {
        var index = $("#tbBooks").children("tr").length;

        var Variant = "<td><input class='form-control' id='txtVarient" + index + "' name='ProductNameLst[" + index + "].Variant'  style='width: 220px;' type = 'text'><input id='hddetailid" + index + "' name='ProductNameLst[" + index + "].ID' type='hidden'> </td>";

        var Uom = "<td><select style = 'width: 100px;' class='form-control _select newcss' id='ddlUOM" + index + "' name='ProductNameLst[" + index + "].Uom'><option value=''>--Please select--</option>" + opt + "</select></td>";

        var Hsn = "<td><select style = 'width: 100px;' class='form-control _select newcss' id='ddlHsn" + index + "' name='ProductNameLst[" + index + "].Hsn'><option value=''>--Please select--</option>" + rem + "</select></td>";

        var MinQty = "<td><input class='form-control' id='txtMinQty" + index + "' name='ProductNameLst[" + index + "].MinQty'  style='width: 100px;' type = 'Number'</td>";

        var Rate = "<td><input class='form-control' id='txtRate" + index + "' name='ProductNameLst[" + index + "].Rate'  style='width: 100px; text-align: right;' </td>";

        var ProdDesc = "<td><textarea class='form-control' id='txtProdDesc" + index + "' name='ProductNameLst[" + index + "].ProdDesc'  style='width: 150px;' type = 'text' ></textarea> </td>";

        var loc = "<td><select style = 'width: 100px;' class='form-control _select newcss' id='ddllocation" + index + "' name='ProductNameLst[" + index + "].Location'><option value=''>--Please select--</option>" + lopt + "</select></td>";

        var shopbin = "<td id='shopBinTd_" + index + "'><select style = 'width: 100px;' class='form-control _select newcss' id='ddlShopBin" + index + "' name='ProductNameLst[" + index + "].ShopBin'><option value=''>--Please select--</option>" + sopt + "</select></td>";

        var godownbin = "<td id='godownBinTd_" + index + "'><select style = 'width: 100px;' class='form-control _select newcss' id='ddlGodownBin" + index + "' name='ProductNameLst[" + index + "].GodownBin'><option value=''>--Please select--</option>" + gopt + "</select></td>";
        
        var removeCell = "<td><input id='Isvalid" + index + "' name='ProductNameLst[" + index + "].Isvalid' type='hidden' value='Y'><img  src='../Images/delete.png' onclick='removeRow(" + index + ");'  style='cursor:pointer' /><input name='ProductNameLst.Index' type='hidden' value='" + index + "'  /></td>";

        var newRow = "<tr class='chkitemlst'  style='height: 30px;border-bottom: 1px dashed #ddd;'  id='trBook" + index + "'>" + Variant + Uom + Hsn + MinQty + Rate + shopbin + godownbin + ProdDesc + removeCell + "</tr>";
        //alert(Packing);
        $("#tbBooks").append(newRow);

        $(function () {
            $('._select').select2();
        });
        
    }

     var j = 0;
     $(document).ready(function () {
            $('tr.chkitemlst').each(function () {
                if ($(this).css('display') !== 'none') {
                        changeLocation(0,j);
                }

                 j += 1;

            });
});


    function changeLocation(locval,index){
         var selectedVal =$('#ddllocation' + index + ' option:selected').text().toUpperCase();

          var $shopBin = $('#ddlShopBin' + index);
            var $godownBin = $('#ddlGodownBin' + index);

            if (selectedVal === 'BOTH') {
                $shopBin.prop('disabled', false);
                $godownBin.prop('disabled', false);
            }
            else if (selectedVal === 'SHOP') {
                $shopBin.prop('disabled', false);
                $godownBin.prop('disabled', true).val('');
            }
            else if (selectedVal === 'GODOWN') {
                $shopBin.prop('disabled', true).val('');
                $godownBin.prop('disabled', false);
            }
            else {
                // For "---Please Select---" or any other unknown option
                $shopBin.prop('disabled', true).val('');
                $godownBin.prop('disabled', true).val('');
            }
    }
       @*function changeLocation(locval,index){
            var selectedVal =$('#ddllocation' + index + ' option:selected').text().toUpperCase();
            alert(selectedVal);
            var $shopBinTd = $('#shopBinTd_' + index);
            var $godownBinTd = $('#godownBinTd_' + index);

            if (selectedVal === 'BOTH') {
                $shopBinTd.show();
                $godownBinTd.show();
            } else if (selectedVal === 'SHOP') {
                $shopBinTd.show();
                $godownBinTd.hide();
            } else if (selectedVal === 'GODOWN') {
                $shopBinTd.hide();
                $godownBinTd.show();
            } else {
                $shopBinTd.hide();
                $godownBinTd.hide();
            }
       }*@
            
       

</script>
