@model RetailSales.Models.Accounts.AccountGroup

@{
    ViewData["Title"] = "Day Book ";

    var previousDate = DateTime.Now.AddDays(-7);

    string strDate2 = String.Format("{0:dd-MMM-yyyy}", previousDate);
    string strDate3 = String.Format("{0:dd-MMM-yyyy}", DateTime.Now);


    string strfrom1 = ViewContext.HttpContext.Request.Query["strfrom"];
    string strTo1 = ViewContext.HttpContext.Request.Query["strTo"];

    string strfrom = "";
    string strTo = "";

    if (strfrom1 == null)
    {
        strfrom = strDate2;
    }
    else
    {
        strfrom = strfrom1;
    }
    if (strTo1 == null)
    {
        strTo = strDate3;
    }
    else
    {
        strTo = strTo1;
    }

}
<partial name="JqxGridPartial" />
<script type="text/javascript" src="~/jqwidgets/jqxgrid.columnsresize.js"></script>
<script type="text/javascript" src="~/jqwidgets/jqxcore.js"></script>

<script type="text/javascript">
    @if (TempData["notice"] != null)
    {
        @:alert('@TempData["notice"]');
    }
</script>


<div class="row wrapper border-bottom page-heading">
    <div class="col-lg-12">

        <ol class="breadcrumb">
            @*  <li> <a href="#">Home</a> </li>
            <li> <a>Master</a> </li> *@
            <li class="active"> <strong>Day Book </strong> </li>
        </ol>
    </div>   
</div>
@*<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label for="inputName3" class="col-sm-4 control-label">From<label class="mandatory">*</label></label>
            <div class="col-sm-12">
                <div class="input-group date form_date col-sm-12" data-date="" data-date-format="dd-M-yyyy">
                    @Html.TextBoxFor(C => C.AccountClass, new { @id = "txtVocDate", @class = "form-control", @TabIndex = 1, @size = "32", style = "width: 170px" })
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="inputName3" class="col-sm-4 control-label">To<label class="mandatory">*</label></label>
            <div class="col-sm-12">
                <div class="input-group date to_date col-sm-12" data-date="" data-date-format="dd-M-yyyy">
                     @Html.TextBoxFor(C => C.AccountClass, new { @id = "txtVocDate", @class = "form-control", @TabIndex = 1, @size = "32", style = "width: 170px" })
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="col-sm-12 mt-5">
            <button type="submit" class="btn btn-success" type="button" id="btnSave" onclick="loadReport()">Search</button>
        </div>
        
    </div>

</div>*@
<form>
<div class="row">
    <div class="col-md-5">
        <label for="inputName3" class="col-sm-3 control-label">From Date  <label class="mandatory"></label></label>
        <div class="col-sm-9">
            <div class="input-group date form_date col-sm-12" data-date="" data-date-format="dd-M-yyyy">
                <input id="SStart" class="form-control" readonly="readonly" value="@strfrom" />
                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span> <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
            </div>

        </div>
    </div>

    <div class="col-md-5">
        <label for="inputName3" class="col-sm-3 control-label"> To date  <label class="mandatory"></label></label>
        <div class="col-sm-9">

            <div class="input-group date to_date col-sm-12" data-date="" data-date-format="dd-M-yyyy">

                <input id="SEnd" class="form-control" readonly="readonly" value="@strTo" />
                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span> <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>

            </div>

        </div>

    </div>
    <div class="col-md-2">

        <button type="button" class="btn btn-info  marginright" id="btnSave" value="Run" onclick="loadReport()">Search</button>

    </div>

</div>
</form>
<script type="text/javascript">
    $(document).ready(function () {
        var source =
        {
            url: "/AccountGroup/MyListDayBookgrid",
            data: {
                strfrom: "@strfrom ",
                strTo: "@strTo",
                strstatus: ""
            },
            datatype: "json",
            updaterow: function (rowid, rowdata) {
                // synchronize with the server - send update command
            },
            datafields: [
                { name: 'vocherno', type: 'string' },
                { name: 'vocherdate', type: 'string' },
                { name: 'tratype', type: 'string' },
                { name: 'vocmemo', type: 'string' },
                { name: 'vtype', type: 'string' },
                { name: 'ledgercode', type: 'string' },
                { name: 'debitamount', type: 'string' },
                { name: 'creditamount', type: 'string' },
                { name: 'type', type: 'string' },

            ],
            id: 'id',
        };
        var dataAdapter = new $.jqx.dataAdapter(source,
            { contentType: 'application/json; charset=utf-8' }, {
            loadComplete: function () {

            }
        }
        );

        $("#grid").jqxGrid(
            {
                width: '100%',
                source: dataAdapter,
                height: 450,
                source: source,
                //autoheight: true,
                sortable: true,
                filterable: true,
                groupable: false,
                pageable: true,
                showfilterbar: true,
                //showfilterrow: true,
               // //theme: 'fresh',
                autorowheight: true,
                filterbarmode: 'simple',
                enablebrowserselection: true,
                columnsresize: true,
                selectionmode: 'multiplerowsextended',
                keyboardnavigation: false,

                columns: [

                    { text: 'Voucher  No', filtertype: 'checkedlist', datafield: 'vocherno', width: 85 },
                    { text: 'Voucher  Date', datafield: 'vocherdate', width: 100, align: 'center' },
                    { text: 'Trans Type', filtertype: 'checkedlist', datafield: 'tratype', align: 'center', width: 80 },
                    { text: 'Type ', datafield: 'type', width: 60, align: 'center' },
                    { text: 'Ledger', datafield: 'ledgercode', width: 200, align: 'center' },                    
                    { text: 'Debit', datafield: 'debitamount', width: 70, align: 'left', cellsformat: 'c2', aggregates: ['sum'] },
                    { text: 'Credit', datafield: 'creditamount', width: 70, align: 'left', cellsformat: 'c2', aggregates: ['sum', 'avg'] },
                     { text: 'Voucher Memo', filtertype: 'input', datafield: 'vocmemo', width: 350, align: 'center' },
                     //{ text: 'Vocher Type', datafield: 'vtype', width: 80, align: 'center' },
                    
                ]
            });
        $("#ddlStatus").change(function () {
            var value = "Y";
            if ($(this).val() != "") {
                value = $(this).val();
            }
            source.data = {
                strstatus: value
            };
            $("#grid").jqxGrid({ source: source });
        });
    });

</script>

<div class="wrapper-content ">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="widgets-container">

                    <form>
                        <br />

                        <br />
                        <div class="row">

                            <div class="col-md-12 ">
                                <div id="grid">
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('.form_time').datetimepicker({
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 1,
        minView: 0,
        maxView: 1,
        forceParse: 0
    });


    $('.to_date').datetimepicker({
        //   language:  'fr',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        startDate: new Date(),
        forceParse: 0

    });

    $('.form_date').datetimepicker({
        //   language:  'fr',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        endDate: new Date(),
        forceParse: 0
    }).on('changeDate', function (selected) {
        var minDate = new Date(selected.date.valueOf());
        $('.to_date').datetimepicker('setStartDate', minDate);

    });
    $(function () {
        $('._select').select2();
    });

    function loadReport() {
        var dtfrom = document.getElementById("SStart").value;
        var dtto = document.getElementById("SEnd").value;

        var url = 'Daybook?strfrom=' + dtfrom + '&strTo=' + dtto;
        window.location.href = url;

    }

    function ConfirmDelete() {
        return confirm("Are you sure you want to delete?");
    }
   
</script>
