@model RetailSales.Models.Purchaseorder

@{
    ViewData["Title"] = "Purchase Order";
}
<style>
    .mandatory {
        color: red;
        position: relative;
        top: 2px;
        left: 5px;
    }
</style>

<script type="text/javascript">
    @if (TempData["notice"] != null)
    {
        @:alert('@TempData["notice"]');
    }
</script>
<div style="height:25px;"></div>
<div class="row wrapper border-bottom page-heading">
    <div class="col-lg-12">

        <ol class="breadcrumb">
            <li class="active"> <strong>Purchase Order </strong> </li>
        </ol>
    </div>
</div>
<div class="wrapper-content ">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="widgets-container">
                    @using (Html.BeginForm("Purchaseorder", "Purchaseorder", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <form>
                            <br />

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <br><label for="inputName3" class="col-sm-4 control-label">PO Date<label class="mandatory">*</label></label>
                                      
                                        <div class="input-group date form_date col-sm-8" data-date="" data-date-format="dd-M-yyyy">
                                            @Html.TextBoxFor(C => C.Podate, new { @id = "Podate", @class = "form-control", @TabIndex = 2,  style = "width: 170px", @readonly = true })
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <br />
                            <div class="row">
                            @*    <div class="col-lg-6">
                                    <div class="form-group">
                                        <br /> <label for="inputName3" class="col-sm-5 control-label">Company Name<label class="mandatory">*</label></label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(C => C.Companyname, new { @id = "txtCompanyname", @class = "form-control", @TabIndex = 1 })

                                        </div>
                                    </div>
                                </div>*@
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <br> <label for="inputName3" class="col-sm-4 control-label">Supplier Name<label class="mandatory">*</label></label>
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(C => C.Suppid, Model.Suplst, new { @id = "ddlSupplier", @Class = "form-control _select", @TabIndex = 4 })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">

                                        <br><label for="inputName3" class="col-sm-4 control-label">Supplier Address<label class="mandatory"></label></label>
                                        <div class="col-sm-8">
                                            @Html.TextAreaFor(C => C.Supplieraddress, new { @id = "txtDescription", @class = "form-control", @TabIndex = 1 })



                                        </div>
                                    </div>
                                </div>

                            </div>
                           
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <br> <label for="inputName3" class="col-sm-4 control-label">Inv No.<label class="mandatory">*</label></label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(C => C.refno, new { @id = "txtrefno", @class = "form-control", @TabIndex = 1 })<br />

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <br><label for="inputName3" class="col-sm-4 control-label">Inv. Date<label class="mandatory">*</label></label>

                                        <div class="input-group date form_date col-sm-6" data-date="" data-date-format="dd-M-yyyy">
                                            @Html.TextBoxFor(C => C.refdate, new { @id = "refdate", @class = "form-control", @TabIndex = 2, @size = "20", style = "width: 170px", @readonly = true })
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="height:30px;"></div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="btn-group">
                                        <p style="float:right;"> <input type="button" value="Add Row" onclick="AddRow()" class="btn btn-primary" /></p>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12" style="overflow-x:scroll; min-width:300px; min-height:300px;">


                                    <table class="table table-striped table-hover" id="dataTable">
                                        <thead>
                                            <tr>

                                                <th>Item</th>
                                                <th>Description</th>
                                                <th> UOM </th>
                                                <th> Qty </th>
                                                <th> Discount (%) </th>
                                                <th>Rate </th>
                                                <th>Amount </th>
                                        </thead>
                                        <tbody id="tbBooks">
                                            @{

                                                int i = 0;
                                                int j = 1;

                                                foreach (var item in Model.PurchaseorderLst.ToList())
                                                {
                                                    <tr id="trBook@(i)" class="chkitemlst" style="height: 30px;border-bottom: 1px dashed #ddd;">

                                                        <td>
                                                            @Html.TextBoxFor(o => o.PurchaseorderLst[i].Item, new { @id = "txtItem" + i, @class = "form-control", style = "width:220px;" })
                                                        </td>
                                                        <td>
                                                            @Html.TextBoxFor(o => o.PurchaseorderLst[i].Description, new { @id = "txtDescription" + i, @class = "form-control", style = "width: 100px;" })
                                                        </td>
                                                        <td>

                                                            @Html.TextBoxFor(o => o.PurchaseorderLst[i].UOM, new { @id = "txtUOM" + i, @class = "form-control", style = "width: 80px;" })
                                                        </td>
                                                        <td>
                                                            @Html.TextBoxFor(o => o.PurchaseorderLst[i].Qty, new { @id = "txtQty" + i, @class = "form-control", style = "width: 80px;" })
                                                        </td>
                                                        <td>
                                                            @Html.HiddenFor(o => o.PurchaseorderLst[i].Isvalid, new { @id = "Isvalid" + i })
                                                            @Html.TextBoxFor(o => o.PurchaseorderLst[i].Discount, new { @id = "txtDiscount" + i, @class = "form-control", style = "width: 80px;" })
                                                        </td>
                                                        <td>
                                                            @Html.TextBoxFor(o => o.PurchaseorderLst[i].Rate, new { @id = "txtRate" + i, @class = "form-control", style = "width: 80px;" })
                                                        </td>
                                                        <td>
                                                            @Html.TextBoxFor(o => o.PurchaseorderLst[i].Amount, new { @id = "txtAmount" + i, @class = "form-control", style = "width: 80px;" })
                                                        </td>
                                                    </tr>
                                                    i = i + 1;
                                                    j = j + 1;

                                                }
                                            }

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div style="height:30px;"></div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <br><label for="inputName3" class="col-sm-5 control-label">Discount Amount<label class="mandatory">*</label></label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(C => C.TotDis, new { @id = "txtTotDis", @class = "form-control", @style ="text-align:right" , @TabIndex = 1, @readonly = true })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <br /> <label for="inputName3" class="col-sm-5 control-label">Amount<label class="mandatory">*</label></label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(C => C.Total, new { @id = "txtTotal", @class = "form-control",@style ="text-align:right", @TabIndex = 1, @readonly = true })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <br /> <label for="inputName3" class="col-sm-5 control-label">Total Amount<label class="mandatory">*</label></label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(C => C.Tot, new { @id = "txtTot", @class = "form-control", @style ="text-align:right",@TabIndex = 1, @readonly = true })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="height:30px;"></div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">

                                        <br /> <label for="inputName3" class="col-sm-2 control-label">Amount In Words<label class="Mandatory"></label></label>
                                        <div class="col-sm-10">
                                            @Html.TextBoxFor(C => C.Amountinwords, new { @id = "txtAmount", @class = "form-control", @TabIndex = 2,onkeydown = "return isNumeric2(event.keyCode,this.value)" ,@readonly=true})
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="height:30px;"></div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">

                                        <label for="inputName3" class="col-sm-2 control-label">Narration<label class="Mandatory"></label></label>
                                        <div class="col-sm-10">
                                            @Html.TextAreaFor(C => C.Narration, new { @id = "txtNarration", @class = "form-control", @TabIndex = 2 })
                                        </div>
                                    </div>
                                </div>
                            </div>

                           


                            
                            <div style="height:30px;"></div>
                            <div class="col-lg-8"></div>
                            <button type="submit" class="btn btn-success" type="button" id="btnSave">Submit</button>
                            <button class="btn btn-danger" type="button" causesvalidation="false" onclick="location.href='@Url.Action("ListPurchaseorder", "Purchaseorder")'">Cancel</button>



                        </form>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $('._select').select2();
    });

    $(document).ready(function () {
        $('#btnSave').click(function (e) {
            var isValid = true;

            if (document.getElementById("txtCompanyname").value == "") {
                isValid = false;
                $(txtCompanyname).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Enter CompanyName");
                return false;
            }
            else {
                $(txtCompanyname).css({
                    "border": "",
                    "background": ""
                });
            }
            if (isValid == false)
                e.preventDefault();
        });

    });
    $('.form_date').datetimepicker({
        //   language:  'fr',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        endDate: new Date(),
        forceParse: 0
    });
</script>
