@model RetailSales.Models.PromotionMail

@{
    Layout = "_PopupLayout";
    ViewData["Title"] = "Promotion Mail";
}
<style>
    .mandatory {
        color: red;
        position: relative;
        top: 2px;
        left: 5px;
    }
</style>
<link href="~/assets/js/vendor/editorsjs/jqx.base.css" rel="stylesheet" />

<script src="@Url.Content("~/assets/js/vendor/editorsjs/jquery-1.11.1.min.js")" type="text/javascript"></script>
<script src=@Url.Content("~/assets/js/vendor/editorsjs/jqxcore.js") type="text/javascript"></script>
<script src=@Url.Content("~/assets/js/vendor/editorsjs/jqxbuttons.js") type="text/javascript"></script>
<script src=@Url.Content("~/assets/js/vendor/editorsjs/jqxscrollbar.js") type="text/javascript"></script>
<script src=@Url.Content("~/assets/js/vendor/editorsjs/jqxlistbox.js") type="text/javascript"></script>
<script src=@Url.Content("~/assets/js/vendor/editorsjs/jqxdropdownlist.js") type="text/javascript"></script>
<script src=@Url.Content("~/assets/js/vendor/editorsjs/jqxdropdownbutton.js") type="text/javascript"></script>
<script src=@Url.Content("~/assets/js/vendor/editorsjs/jqxcolorpicker.js") type="text/javascript"></script>

<script src=@Url.Content("~/assets/js/vendor/editorsjs/jqxwindow.js") type="text/javascript"></script>
<script src=@Url.Content("~/assets/js/vendor/editorsjs/jqxeditor.js") type="text/javascript"></script>
<script src=@Url.Content("~/assets/js/vendor/editorsjs/jqxtooltip.js") type="text/javascript"></script>
<script src=@Url.Content("~/assets/js/vendor/editorsjs/jqxcheckbox.js") type="text/javascript"></script>
<script src=@Url.Content("~/assets/js/vendor/editorsjs/demos.js") type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#editor').jqxEditor({
            height: "400px",
            width: getWidth('editor')
        });
    });
</script>
<div class="row wrapper border-bottom page-heading">
    <div class="col-lg-12">

        <ol class="breadcrumb">
            <li class="active"> <strong> Send Mail  </strong> </li>
        </ol>
    </div>
</div>
<div class="wrapper-content ">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="widgets-container">
                    @using (Html.BeginForm("SendMail", "Purchaseorder", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <br />  <label for="inputName3" class="col-sm-4 control-label">To<label class="mandatory">*</label></label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(C => C.To, new { @id = "txtTo", @class = "form-control", @TabIndex = 2 })
                                            @Html.HiddenFor(C => C.ID)

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <br /> <label for="inputName3" class="col-sm-4 control-label">CC<label class="mandatory"></label></label>
                                        <div class="col-sm-8">

                                            @Html.TextBoxFor(C => C.Cc, new { @id = "txtCc", @class = "form-control", @TabIndex = 2 })<br>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <br /> <label for="inputName3" class="col-sm-4 control-label">BCC<label class="mandatory"></label></label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(C => C.Bcc, new { @id = "txtBcc", @class = "form-control", @TabIndex = 1 })
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <br /> <label for="inputName3" class="col-sm-4 control-label">Subject<label class="mandatory">*</label></label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(C => C.Sub, new { @id = "txtSub ", @class = "form-control", @TabIndex = 2 })
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <br />  <label for="inputName3" class="col-sm-4 control-label">Content<label class="mandatory"></label></label>
                                        <div class="col-sm-8">

                                            @Html.TextAreaFor(C => C.editors, new { @class = "form-control", @id = "editor", TabIndex = 6 })
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <tr>
                                            <td>
                                                Attachment
                                            </td>
                                            <td>
                                                <input type="file" name="attachment" multiple />
                                            </td>
                                        </tr>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    @* <a href="@Url.Action("ViewPurchaseOrder", "Purchaseorder")" class="text-left" style="float: right; color:black;">Click here to View PurchaseOrder </a> *@
                                    <a href="@Url.Action("ViewPurchaseOrder", new { id = Model.ID })" class="text-left" style="text-align: left; color:black;">
                                        Click here to View Purchase Order
                                    </a>

                                </div>
                            </div>

                            <div style="height:30px;"></div>
                            <div class="row">
                                <div class="col-md-6"></div>
                                <div class="col-md-9">
                                    <button type="submit" name="submit" class="btn btn-success" onclick="location.href='@Url.Action("ListPurchaseorder", "Purchaseorder")'" id="btnSave" value="Save" tabindex="18">Send & Close</button>
                                    <button type="button" class="btn btn-warning marginright" id="" value="Draft" tabindex="18">Draft</button>
                                    <button type="button" class="btn btn-danger marginright" onclick="location.href='@Url.Action("ListPurchaseorder", "Purchaseorder")'" value="Cancel" causesvalidation="false" tabindex="9">Cancel</button>
                                </div>
                            </div>
                        </form>
                    }
                </div>

            </div>

        </div>

    </div>

</div>
<script>

    $('.form_date').datetimepicker({
        //   language:  'fr',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0
    });
</script>

<script>

    $(function () {
        $('._select').select2();
    });
    function PopulateDropDown(dropDownId, list) {
        //alert(list);
        $(dropDownId).empty().append('<option selected="selected" value="0">Please select</option>');
        if (list != null && list.length > 0) {
            $(dropDownId).removeAttr("disabled");
            $.each(list, function () {
                $(dropDownId).append($("<option></option>").val(this['value']).html(this['text']));
            });
        }
        $(dropDownId).trigger("liszt:updated");
    }
    $(document).ready(function () {
        $('#btnSave').click(function (e) {
            var isValid = true;

            if (document.getElementById("txtTo").value == "") {
                isValid = false;
                $(txtTo).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Enter To");
                return false;
            }
            else {
                $(txtTo).css({
                    "border": "",
                    "background": ""
                });
            }
            if (document.getElementById("txtSub").value == "") {
                isValid = false;
                $(txtSub).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Enter  Subject");
                return false;
            }
            else {
                $(txtSub).css({
                    "border": "",
                    "background": ""
                });
            }

            if (isValid == false)
                e.preventDefault();
        });

    });
</script>