@model RetailSales.Models.Purchaseorder
@{
    ViewData["Title"] = "PurchasOrder";
}
<style>
    .newwidth {
        width: 120px;
    }

    .text-right {
        text-align: right;
    }
</style>
<div style="height:25px;"></div>
<div class="row wrapper border-bottom page-heading">
    <div class="col-lg-12">

        <ol class="breadcrumb">
            <li class="active"> <strong>View Purchase Order</strong> </li>
        </ol>
    </div>
</div>

<div class="wrapper-content ">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="widgets-container">
                    @using (Html.BeginForm("ViewPurchaseOrder", "Purchaseorder", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <form>
                            <br />
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="inputName3" class="col-sm-5 control-label"><strong>PO No :</strong><label class="mandatory"></label></label>
                                        
                                            @Html.HiddenFor(C => C.ID)
                                            @Html.DisplayFor(C => C.po)
                                        
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="inputName3" class="col-sm-4 control-label"><strong>PO Date :</strong><label class="mandatory"></label></label>
                                        
                                            @Html.DisplayFor(C => C.Podate)
                                        
                                    </div>
                                </div>
                                
                            </div>
                            <div style="height:20px;"></div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="inputName3" class="col-sm-5 control-label"><strong>Supplier Name :</strong><label class="mandatory"></label></label>

                                        @Html.DisplayFor(C => C.Suppid)

                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">

                                        <label for="inputName3" class="col-sm-4 control-label"><strong>Supplier Address :</strong><label class="mandatory"></label></label>
                                        
                                            @Html.DisplayFor(C => C.Supplieraddress)
                                        
                                    </div>
                                </div>
                            </div>
                            
                            <div style="height:20px;"></div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">

                                        <label for="inputName3" class="col-sm-5 control-label"><strong>State :</strong><label class="mandatory"></label></label>
                                        
                                            @Html.DisplayFor(C => C.State)
                                        
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">

                                        <label for="inputName3" class="col-sm-4 control-label"><strong>City :</strong><label class="mandatory"></label></label>
                                        
                                            @Html.DisplayFor(C => C.City)
                                        
                                    </div>
                                </div>
                            </div>
                            <div style="height:20px;"></div>
                            <div class="row">                               
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="inputName3" class="col-sm-5 control-label"><strong>Supplier Ref No :</strong><label class="mandatory"></label></label>
                                        
                                            @Html.DisplayFor(C => C.refno)

                                        
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="inputName3" class="col-sm-4 control-label"><strong>Ref Date :</strong><label class="mandatory"></label></label>
                                        
                                            @Html.DisplayFor(C => C.refdate)
                                        
                                    </div>
                                </div>
                            </div>
                            <div style="height:20px;"></div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="inputName3" class="col-sm-5 control-label"><strong>GST No :</strong><label class="mandatory"></label></label>
                                        
                                            @Html.DisplayFor(C => C.GST)

                                        
                                    </div>
                                </div>
                            </div>


                            <div style="height:30px;"></div>
                            <div class="row">
                                <div class="col-lg-12">

                                    <table id="example7" class="display nowrap table  responsive nowrap table-bordered">
                                        <thead>
                                            <tr>

                                                <th>Item</th>
                                                <th>Variant - HSN</th>
                                                
                                                <th>Tax</th>
                                                <th> Unit </th>
                                                <th> Dest UOM</th>
                                                <th>CF</th>
                                                <th> Qty </th>
                                                <th>CF Qty</th>
                                                <th>Rate (₹) </th>
                                                <th>Amount (₹) </th>
                                                <th>Disc %</th>
                                                <th> Disc amount (₹)</th>


                                                <th>Total Amount (₹)</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            @{
                                                int i = 0;

                                                foreach (var item in Model.PurchaseorderLst.ToList())
                                                {

                                                    <tr>
                                                        <td>@Html.DisplayFor(o => o.PurchaseorderLst[i].Item)</td>
                                                        <td>@Html.DisplayFor(o => o.PurchaseorderLst[i].Varient)</td>
                                                        
                                                        <td>@Html.DisplayFor(o => o.PurchaseorderLst[i].Tariff)</td>
                                                        <td>@Html.DisplayFor(o => o.PurchaseorderLst[i].UOM)</td>
                                                        <td>@Html.DisplayFor(o => o.PurchaseorderLst[i].DestUOM)</td>
                                                        <td>@Html.DisplayFor(o => o.PurchaseorderLst[i].CF)</td>
                                                        <td>@Html.DisplayFor(o => o.PurchaseorderLst[i].Qty)</td>
                                                        <td>@Html.DisplayFor(o => o.PurchaseorderLst[i].CfQty)</td>
                                                        <td style="text-align: right;">@Html.DisplayFor(o => o.PurchaseorderLst[i].Rate)</td>
                                                        <td style="text-align: right;">@Html.DisplayFor(o => o.PurchaseorderLst[i].Amount)</td>
                                                        <td style="text-align: right;">@Html.DisplayFor(o => o.PurchaseorderLst[i].DiscPer)</td>
                                                        <td style="text-align: right;">@Html.DisplayFor(o => o.PurchaseorderLst[i].DiscAmount)</td>
                                                      
                                                        
                                                        
                                                        <td style="text-align: right;">@Html.DisplayFor(o => o.PurchaseorderLst[i].Total)</td>

                                                    </tr>
                                                    //i = i + 1;
                                                    i++;
                                                }
                                            }

                                        </tbody>
                                    </table>
                                </div>
                            </div>


                            <div style="height:30px;"></div>
                            <div class="row">

                                <div class="col-md-4" style="overflow-x:scroll; min-width:300px; min-height:300px;">

                                    <table class="table table-striped table-hover" id="dataTable">
                                        <thead>
                                        </thead>
                                        <tbody id="tbBooks">
                                            @{
                                                <tr>

                                                    <th>GROSS (₹)</th>
                                                    <td style="text-align: right;">
                                                        @Html.DisplayFor(C => C.Gross)
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>DISCOUNT (₹)</th>
                                                    <td style="text-align: right;">
                                                        @Html.DisplayFor(C => C.Disc)
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>FREIGHT (₹)</th>
                                                    <td style="text-align: right;">
                                                        @Html.DisplayFor(C => C.Frieghtcharge)
                                                    </td>
                                                </tr>
                                                if (Model.State == "Tamil Nadu")
                                                {
                                                    <tr>
                                                        <th>CGST</th>
                                                        <td style="text-align: right;">
                                                            @Html.DisplayFor(C => C.CGST)
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>SGST</th>
                                                        <td style="text-align: right;">
                                                            @Html.DisplayFor(C => C.SGST)
                                                        </td>
                                                    </tr>
                                                }
                                                else
                                                {
                                                    <tr>
                                                        <th>IGST</th>
                                                        <td style="text-align: right;">
                                                            @Html.DisplayFor(C => C.IGST)
                                                        </td>
                                                    </tr>
                                                }
                                                

                                                <tr>
                                                    <th> ROUND OFF</th>
                                                    <td style="text-align: right;">
                                                        @Html.DisplayFor(C => C.Round)
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th> TOTAL (₹) </th>
                                                    <td style="text-align: right;">
                                                        @Html.DisplayFor(C => C.Net)
                                                        <input type="hidden" id="hidnet" />
                                                    </td>


                                                </tr>

                                            }


                                        </tbody>
                                    </table>
                                </div>

                                <div class="col-md-8">
                                    <div class="tabs-container">
                                        <ul class="nav nav-pills nav-fill">
                                            @*<li class="active"><a href="#tab-1" data-toggle="tab">Despatch Address</a></li>*@
                                            <li class="active"><a href="#tab-1" data-toggle="tab">Transporter Details</a></li>


                                        </ul>
                                        <div class="tab-content">


                                            <div class="tab-pane active" id="tab-1">

                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <div class="tab-pane active" id="tab-1">
                                                                <div class="row">
                                                                    <div class="col-md-4">
                                                                        <div class="form-group">
                                                                            <br /> <label for="inputName3" class="col-sm-4 control-label"><strong>LR.No :</strong><label class="Mandatory"></label></label>                                                                          
                                                                                @Html.DisplayFor(C => C.LRno)                                                                           
                                                                        </div>                                                                       
                                                                    </div>
                                                                    <div class="col-md-8">
                                                                        <div class="form-group">
                                                                            <br /> <label for="inputName3" class="col-sm-6 control-label"><strong>Transporter Name :</strong><label class="Mandatory"></label></label>
                                                                            @Html.DisplayFor(C => C.drivername)
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-4">
                                                                        <div class="form-group">
                                                                            <br /><label for="inputName3" class="col-sm-4 control-label"><strong>LR.Date :</strong><label class="Mandatory"></label></label>
                                                                            @Html.DisplayFor(C => C.LRdate)
                                                                        </div>
                                                                    </div>                                                                   
                                                                    <div class="col-md-8">
                                                                        <div class="form-group">
                                                                            <br />  <label for="inputName3" class="col-sm-6 control-label"><strong>Place Of Dispatch :</strong><label class="Mandatory"></label></label>                                                                           
                                                                                @Html.DisplayFor(C => C.dispatchname)                                                                           
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div style="height:10px;"></div>
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <div class="form-group">

                                                                            <br /> <label for="inputName3" class="col-sm-3 control-label"><strong>Amount In Words :</strong><label class="Mandatory"></label></label>

                                                                            @Html.DisplayFor(C => C.Amountinwords)

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <div class="form-group">

                                                                            <br /> <label for="inputName3" class="col-sm-3 control-label"><strong>Narration :</strong><label class="Mandatory"></label></label>

                                                                            @Html.DisplayFor(C => C.Narration)

                                                                        </div>
                                                                    </div>

                                                                </div>
                                                                
                                                                @*1st tab*@
                                                            </div>
                                                            @*1st tab*@

                                                        </div>


                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            


                            <div style="height:30px;"></div>
                            <div class="col-lg-8"></div>
                            @* <button type="submit" class="btn btn-success" type="button" id="btnSave">Sales Return</button> *@
                            <button class="btn btn-danger" type="button" causesvalidation="false" onclick="location.href='@Url.Action("ListPurchaseorder", "Purchaseorder")'">Cancel</button>


                        </form>
                    }
                </div>
            </div>
        </div>
    </div>
</div>



