@model RetailSales.Models.HSNcode

@{
    ViewData["Title"] = "Index";
}

<style>
    .mandatory {
        color: red;
        position: relative;
        top: 2px;
        left: 5px;
    }
</style>

<script type="text/javascript">
    @if (TempData["notice"] != null)
    {
        @:alert('@TempData["notice"]');
    }
</script>

<div class="row wrapper border-bottom page-heading">
    <div class="col-lg-12">

        <ol class="breadcrumb">
            <li class="active"> <strong>HSN Code </strong> </li>
        </ol>
    </div>
</div>


<div class="wrapper-content ">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="widgets-container">
                    @using (Html.BeginForm("HSNcode", "HSNcode", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                    <form>
                        <div class="row">
                            <div class="col-lg-4"></div>
                            <div class="col-md-5">
                                <div class="form-group">

                                        <br />  <label for="inputName3" class="col-sm-4 control-label">HSN Code<label class="mandatory">*</label></label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(C => C.HCode, new { @id = "txtHCode",autocomplete="off", @class = "form-control", @TabIndex = 1,@onkeydown = "return isNumeric2(event.keyCode,this.value)" })
                                            @Html.HiddenFor(C => C.createby)
                                        </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4"></div>
                            <div class="col-md-5">
                                <div class="form-group">

                                        <br />  <label for="inputName3" class="col-sm-4 control-label">Description<label class="mandatory"></label></label>
                                    <div class="col-sm-8">
                                            @Html.TextBoxFor(C => C.Dec, new { @id = "txtDec", @class = "form-control", @TabIndex = 1,autocomplete="off" })
                                            @Html.HiddenFor(C => C.ID)
                                    </div>
                                </div>
                            </div>
                        </div>
                           @* <div class="row">
                                <div class="col-lg-4"></div>
                                <div class="col-md-5">
                                    <div class="form-group">

                                        <br />  <label for="inputName3" class="col-sm-4 control-label">Percentage<label class="mandatory">*</label></label>
                                       
                                        <div class="col-sm-8">

                                             @Html.TextBoxFor(C => C.Per, new { @id = "txtPer", @class = "form-control", @TabIndex = 1,autocomplete="off" })

                                           

                                        </div>
                                    </div>
                                </div>
                            </div> *@
                              @* <div class="row">
                                <div class="col-lg-4"></div>
                                <div class="col-md-5">
                                    <div class="form-group">

                                        <br /> <label for="inputName3" class="col-sm-4 control-label">SGST%<label class="mandatory"></label></label>
                                          <div class="col-sm-8">

                                            @Html.DropDownListFor(C => C.SGst, Model.SGstlst,"Please Select", new { @id = "ddlSGst", @Class = "form-control _select", @TabIndex = 1 })

                                           
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4"></div>
                                <div class="col-md-5">
                                    <div class="form-group">

                                      <br />  <label for="inputName3" class="col-sm-4 control-label">IGST%<label class="mandatory"></label></label>
                                          <div class="col-sm-8">

                                            @Html.DropDownListFor(C => C.IGst, Model.IGstlst,"Please Select", new { @id = "ddlIGst", @Class = "form-control _select", @TabIndex = 1 })

                                         
                                        </div>
                                    </div>
                                </div>
                            </div>
*@
                           
                            <div style="height:30px;"></div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="btn-group">
                                        <p style="float:right;"> <input type="button" value="Add Row" onclick="AddRow()" class="btn btn-primary" /></p>
                                    </div>
                                </div>
                            </div>

                        <div class="row">
                           <div class="col-md-12" style="overflow-x:scroll; min-width:300px; min-height:300px;">

                                   
                                    <table class="table table-striped table-hover" id="dataTable">
                                      <thead>
                                        <tr>
                          
                          
                                          <th>Tax </th>
                              
                                        </tr>
                                      </thead>
                                <tbody id="tbBooks">

                                            @{

                                                int i = 0;
                                                
                                               foreach (var item in Model.hsnlst.ToList())
                                                {
                                                    <tr id="trBook@(i)" class="chkitemlst" style="height: 30px;border-bottom: 1px dashed #ddd;">
                                                       
                                                       
                                                        <td>
                                                            @Html.DropDownListFor(o => o.hsnlst[i].tariff, Model.hsnlst[i].tarifflst, "-- Please Select --", new { @class = "form-control _select newcss", @id = "ddltariff" + i, style = "width: 200px;" })
                                                            @Html.HiddenFor(o => o.hsnlst[i].savetariff)

                                                        </td>
                                                        <td>
                                                            @Html.HiddenFor(o => o.hsnlst[i].Isvalid, new { @id = "Isvalid" + i })
                                                            <img onclick="removeRow(@(i));" src="../Images/delete.png" style="cursor:pointer" /> <input name="hsnlst.Index" type="hidden" value="@(i)" />

                                                        </td>
                                                     </tr>

                                                i = i + 1;
                                                 
                                               }
                                           }

                                </tbody>
                            </table>
                        </div>
                    </div>


                            <div style="height:30px;"></div>
                            <div class="col-lg-10"></div>
                            <button type="submit" class="btn btn-success" type="button" id="btnSave">Submit</button>
                            <button class="btn btn-danger" type="button" causesvalidation="false" onclick="location.href='@Url.Action("ListHSNcode", "HSNcode")'">Cancel</button>
                              
                    </form>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


<script>

        $(function () {
            $('._select').select2();
        });

   

    function AppendRow(opt) {
        var index = $("#tbBooks").children("tr").length;

      
        var tariff = "<td><select style = 'width: 200px;' class='form-control _select newcss' id='ddltariff" + index + "' name='hsnlst[" + index + "].tariff'  ><option value=''>-- Please select -- </option>" + opt + "</select></td>";  //onchange = 'Grup_Change(this.value, " + i + ")'


        var removeCell = "<td><input id='Isvalid" + index + "' name='hsnlst[" + index + "].Isvalid' type='hidden' value='Y'><img  src='../Images/delete.png' onclick='removeRow(" + index + ");'  style='cursor:pointer' /><input name='hsnlst.Index' type='hidden' value='" + index + "'  /></td>";

        var newRow = "<tr class='chkitemlst'  style='height: 30px;border-bottom: 1px dashed #ddd;'  id='trBook" + index + "'>" + tariff + removeCell + "</tr>";


        $("#tbBooks").append(newRow);
        $(function () {
            $('._select').select2();
        })
    }

    function AddRow() {
        var opt = "";
        $.ajax({
            type: "POST",
            url: 'GettariffJSON',
            success: function (data) {

                $.each(data, function () {
                    opt += "<option value=" + this.value + ">" + this.text + "</option>";
                });
                AppendRow(opt);
            }
        })
    }

    $(".chosen-select").chosen();
    function removeRow(id) {
        var table = document.getElementById("dataTable");
        var rowCount = table.rows.length;
        var row = document.getElementById('trBook' + id);
        var j = 0;
        $('tr.chkitemlst').each(function () {
            if ($(this).css('display') !== 'none') {
                j += 1;
            }
        });
        if (j > 1) {
            row.style.display = "none";
            document.getElementById('Isvalid' + id).value = "N";
        }
        else {
            alert("Cannot delete all the rows.")
        }
    }
 </script>

<script>
   
     $(function () {
        $('._select').select2();

    });

    $(document).ready(function () {
        $('#btnSave').click(function (e) {
            var isValid = true;

            if (document.getElementById("txtHCode").value == ""|| document.getElementById("txtHCode").value == 0) {
                isValid = false;
                $(txtHCode).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Enter HSN Code");
                return false;
            }
            else {
                $(txtHCode).css({
                    "border": "",
                    "background": ""
                });
            }
        
            //   if (document.getElementById("txtPer").value == ""||document.getElementById("txtPer").value == 0) {
            //     isValid = false;
            //     $(txtPer).css({
            //         "border": "1px solid red",
            //         "background": "#FFCECE"
            //     });

            //     alert("Please Enter Percentage");
            //     return false;
            // }
            // else {
            //     $(txtPer).css({
            //         "border": "",
            //         "background": ""
            //     });
            // }
           
      



            if (isValid == false)
                e.preventDefault();

        });

    });
</script>
