@model RetailSales.Models.AccConfig

@{
    ViewData["Title"] = "AccConfig";
}
<style>
    .mandatory {
        color: red;
        position: relative;
        top: 2px;
        left: 5px;
    }
</style>
<script type="text/javascript">
    @if (TempData["notice"] != null)
    {
        @:alert('@TempData["notice"]');
    }
</script>
<div class="row wrapper border-bottom page-heading">
    <div class="col-lg-12">

        <ol class="breadcrumb">
            <li class="active"> <strong>Account Config </strong> </li>
        </ol>
    </div>
</div>

<div class="wrapper-content ">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="widgets-container">
                 
                    @using (Html.BeginForm("AccConfig", "AccConfig", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <form>
                            <br>
                                <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">

                                       <label for="inputName3" class="col-sm-4 control-label"> Scheme Description<label class="mandatory">*</label></label>
                                            <div class="col-sm-12">
                                            @Html.TextBoxFor(C => C.SchemeDes, new { @id = "txtSchemeDes", @class = "form-control", @TabIndex = 2, @size="30" })<br>
                                               
                                            </div>


                                        </div>
                                    </div>


                                <div class="col-md-6">
                                    <div class="form-group">

                                            <label for="inputName3" class="col-sm-4 control-label"> Scheme Name <label class="mandatory"></label></label>
                                            <div class="col-sm-12">
                                            @Html.TextBoxFor(C => C.Scheme, new { @id = "txtScheme", @class = "form-control", @TabIndex = 2, @size="30" })<br>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <label for="inputName3" class="col-sm-4 control-label"> Transaction Name<label class="mandatory">*</label></label>
                                        <div class="col-sm-12">
                                            @Html.TextBoxFor(C => C.TransactionName, new { @id = "txtTrasactionName", @class = "form-control", @TabIndex = 2, @size="30" })<br>
                                            @Html.HiddenFor(C => C.ID)
                                            @Html.HiddenFor(C => C.Branch)
                                            @Html.HiddenFor(C => C.CreatBy)
                                            @Html.HiddenFor(C => C.CreatOn)
                                        </div>


                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">

                                        <label for="inputName3" class="col-sm-4 control-label">Transaction ID<label class="mandatory"></label></label>
                                        <div class="col-sm-12">
                                            @Html.TextBoxFor(C => C.TransactionID, new { @id = "txtTrasactionID", @class = "form-control", @TabIndex = 2, @size="30" })<br>
                                        </div>


                                    </div>
                                </div>
                            </div>
                           
                          
                            <div style="height:30px;"></div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="btn-group">
                                        <p style="float:right;"> <input type="button" value="Add Row" onclick="AddRow()" class="btn btn-primary" /></p>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12" style="overflow-x:scroll; min-width:300px; min-height:100px;">


                                    <table class="table table-striped table-hover" id="dataTable">
                                        <thead>
                                            <tr>
                                               
                                                <th> Type </th>
                                                <th> Name</th>
                                                <th> Scheme </th>
                                                <th> Ledger </th>
                                               
                                                
                                            </tr>
                                        </thead>
                                        <tbody id="tbBooks">
                                            @{

                                                int i = 0;
                                              
                                                foreach (var item in Model.ConfigLst.ToList())
                                                {
                                                    <tr id="trBook@(i)" class="chkitemlst" style="height: 30px;border-bottom: 1px dashed #ddd;">

                                                        <td>
                                                            @Html.TextBoxFor(o => o.ConfigLst[i].Type, new { @id = "txtType" + i, @class = "form-control", style = "width:180px;" , @TabIndex = 2 })

                                                        </td>
                                                        <td>
                                                            @Html.TextBoxFor(o => o.ConfigLst[i].Tname, new { @id = "txtTname" + i, @class = "form-control", style = "width: 180px;", @TabIndex = 2})

                                                        </td>
                                                        <td>
                                                            @Html.TextBoxFor(o => o.ConfigLst[i].Schname, new { @id = "txtSchname"+ i , @class = "form-control", style = "width: 180px;" , @TabIndex = 2})

                                                        </td>
                                                        <td>
                                                            @Html.DropDownListFor(o => o.ConfigLst[i].ledger, Model.ConfigLst[i].ledlst, "-- Please Select --", new { @class = "form-control _select newcss", @id = "ddlledger" + i, style = "width: 200px;" })
                                                            @Html.HiddenFor(o => o.ConfigLst[i].saveledger)
                                                           

                                                        </td>
                                                       

                                                        <td>
                                                            @Html.HiddenFor(o => o.ConfigLst[i].Isvalid, new { @id = "Isvalid" + i })
                                                            <img onclick="removeRow(@(i));" src="../Images/delete.png" style="cursor:pointer" /> <input name="ConfigLst.Index" type="hidden" value="@(i)" />

                                                        </td>

                                                    </tr>
                                                    i = i + 1;
                                                  

                                                }
                                                //foreach (var item in Model.ConfigLst[i].ToList())
                                                //{
                                                //    <tr id="trBook@(i)" class="chkitemlst" style="height: 30px;border-bottom: 1px dashed #ddd;">

                                                //        <td>
                                                //            @Html.TextBoxFor(o => o.ConfigLst[i].Type, new { @id = "txtType" + i, @class = "form-control", style = "width:180px;" , @TabIndex = 2 })
                                                            
                                                //        </td>
                                                //        <td>
                                                //            @Html.TextBoxFor(o => o.ConfigLst[i].Tname, new { @id = "txtTname" + i, @class = "form-control", style = "width: 180px;", @TabIndex = 2})
                                                            
                                                //        </td>
                                                //        <td>
                                                //            @Html.TextBoxFor(o => o.ConfigLst[i].Schname, new { @id = "txtSchname"+ i , @class = "form-control", style = "width: 180px;" , @TabIndex = 2})
                                                            
                                                //        </td>
                                                //        <td>
                                                //            @Html.DropDownListFor(o => o.ConfigLst[i].ledger, Model.ConfigLst[i].ledlst, "-- Please Select --", new { @class = "form-control chosen-select newcss", @id = "ddlledger" + i, style = "width: 200px;" , onchange = "Grup_Change(this.value," + i + ") "})
                                                //            @Html.HiddenFor(o => o.ConfigLst[i].saveledger)
                                                            
                                                //        </td>
                                                //        <td>
                                                //            @Html.HiddenFor(o => o.ConfigLst[i].Isvalid, new { @id = "Isvalid" + i })
                                                //            <img onclick="removeRow(@(i));" src="../Images/delete.png" style="cursor:pointer" /> <input name="ledlst.Index" type="hidden" value="@(i)" />
                                                            
                                                //        </td>
                                                       
                                                //    </tr>
                                                //    i = i + 1;
                                                //    j = j + 1;

                                                //}
                                            }

                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div style="height:30px;"></div>
                            <div class="col-lg-10"></div>
                            <button type="submit" class="btn btn-success" id="btnSave">Submit</button>
                            <a button class="btn btn-danger" type="submit" href="@Url.Action("ListAccConfig", "AccConfig")">Cancel</a>

                        </form>

                    }
                </div>

            </div>

        </div>

    </div>

</div>

<script>

    $(function () {
        $('._select').select2();
    });

    function changeScheme(ItemId) {
        $.ajax({
            url: 'GetSchemeDetail',
            data: { "ItemId": ItemId },
            type: "GET",
            success: function (result) {

                document.getElementById("txtTrasactionName").value = result.transactionname;
                document.getElementById("txtTrasactionID").value = result.transactionid;
            },
            error: function () {
            }
        });
    }

        function AppendRow(opt) { 
            var index = $("#tbBooks").children("tr").length;

        var Type = "<td><input class='form-control' id='txtType" + index + "' name='ConfigLst[" + index + "].Type'  style='width: 180px;' type='text'  /></td>";

            var Tname = "<td><input class='form-control' id='txtTname" + index + "' name='ConfigLst[" + index + "].Tname'   style='width: 180px; type='text' /></td>";

            var Schname = "<td><input class='form-control' id='txtSchname" + index + "' name='ConfigLst[" + index + "].Schname'  style='width: 180px;' type='text'/></td>"

        var ledger = "<td><select style = 'width: 200px;' class='form-control _select newcss' id='ddlledger" + index + "' name='ConfigLst[" + index + "].ledger'  ><option value=''>-- Please select -- </option>" + opt + "</select></td>";  //onchange = 'Grup_Change(this.value, " + i + ")'


        var removeCell = "<td><input id='Isvalid" + index + "' name='ConfigLst[" + index + "].Isvalid' type='hidden' value='Y'><img  src='../Images/delete.png' onclick='removeRow(" + index + ");'  style='cursor:pointer' /><input name='ConfigLst.Index' type='hidden' value='" + index + "'  /></td>";

            var newRow = "<tr class='chkitemlst'  style='height: 30px;border-bottom: 1px dashed #ddd;'  id='trBook" + index + "'>" + Type + Tname + Schname + ledger + removeCell + "</tr>";
   
            
            $("#tbBooks").append(newRow);
            $(function () {
                $('._select').select2();
            })
        }

    function AddRow() {
        var opt = "";
        $.ajax({
            type: "POST",
            url: 'GetledgerJSON',
            success: function (data) {

                $.each(data, function () {
                    opt += "<option value=" + this.value + ">" + this.text + "</option>";
                });
                AppendRow(opt);
            }
        })
    }



   

    $(".chosen-select").chosen();
    function removeRow(id) {
        var table = document.getElementById("dataTable");
        var rowCount = table.rows.length;
        var row = document.getElementById('trBook' + id);
        var j = 0;
        $('tr.chkitemlst').each(function () {
            if ($(this).css('display') !== 'none') {
                j += 1;
            }
        });
        if (j > 1) {
            row.style.display = "none";
            document.getElementById('Isvalid' + id).value = "N";
        }
        else {
            alert("Cannot delete all the rows.")
        }
    }

    //function changeAdact(typeid, i) {
    //    if (typeid == "Dr") {
    //        document.getElementById("txtCreditAmount" + i).readOnly = true;
    //        document.getElementById("txtDepitAmount" + i).readOnly = false;
    //    }

    //    else (typeid == "Cr") {
    //        document.getElementById("txtDepitAmount" + i).readOnly = true;
    //        document.getElementById("txtCreditAmount" + i).readOnly = false;
    //    }
    //}

</script>

<script>

    $(function () {
        $('._select').select2();
    });

    $(document).ready(function () {
        $('#btnSave').click(function (e) {
            var isValid = true;

           
            if (document.getElementById("txtSchemeDes").value == ""|| document.getElementById("txtSchemeDes").value ==0) {
                isValid = false;
                $(txtSchemeDes).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Enter Scheme Description");
                return false;
            }
            else {
                $(txtSchemeDes).css({
                    "border": "",
                    "background": ""
                });
            } 
            
            if (document.getElementById("txtTrasactionName").value == ""||document.getElementById("txtTrasactionName").value == 0) {
                isValid = false;
                $(txtTrasactionName).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Enter Trasaction Name");
                return false;
            }
            else {
                $(txtTrasactionName).css({
                    "border": "",
                    "background": ""
                });
            }
            
            


            if (isValid == false)
                e.preventDefault();

        });

    });
</script>

