@model RetailSales.Models.AccConfig
@{
   // Layout = "_PopupLayout";
    ViewData["Title"] = "AccConfig";
}
<style>
    .newwidth {
        width: 120px;
    }

    .mandatory {
        color: red;
        position: relative;
        top: 2px;
        left: 5px;
    }
</style>
@* <div class="row wrapper border-bottom page-heading">
    <div class="col-lg-12">

         <ol class="breadcrumb">
             <li> <a href="#">Home</a> </li>
            <li> <a>Sales</a> </li>
            <li class="active"> <strong>AccConfig</strong> </li> 
        </ol> 
    </div>
</div> *@
<div class="wrapper-content ">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="widgets-container">
                    <h5 style="font-size:14px"><strong>Account Config</strong></h5>
                    <hr>
                    @*  @using (Html.BeginForm("ApproveProEntry", "DepotInvoice", FormMethod.Post))
                    {
                    @Html.AntiForgeryToken()*@
                    <form>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">

                                    <br>   <label for="inputName3" class="col-sm-4 control-label">Scheme Description <label class="mandatory"></label></label>
                                    <div class="col-sm-8">
                                        @Html.HiddenFor(C => C.ID)
                                        @Html.DisplayFor(C => C.SchemeDes)<br>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">

                                    <br> <label for="inputName3" class="col-sm-4 control-label">Scheme Name<label class="mandatory"></label></label>
                                    <div class="col-sm-8">
                                        @Html.DisplayFor(C => C.Scheme)<br>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="height:15px;"></div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">

                                    <br>  <label for="inputName3" class="col-sm-4 control-label">Transaction Name<label class="mandatory"></label></label>
                                    <div class="col-sm-8">

                                        @Html.DisplayFor(C => C.TransactionName)<br>

                                    </div>
                                </div>
                            </div>



                            <div class="col-md-6">
                                <div class="form-group">
                                    <br> <label for="inputName3" class="col-sm-4 control-label">Transaction ID<label class="Mandatory"></label></label>

                                    <div class="col-sm-8">
                                        @Html.DisplayFor(C => C.TransactionID)<br> 
                                    </div>
                                </div>
                            </div>
                        </div>
                      
                        <br>  <div class="row">
                            <div class="col-md-12" style="overflow-x:scroll; min-width:300px; min-height:300px;">

                                
                                <table class="table table-striped table-hover" id="dataTable">
                                    <thead>
                                        <tr>


                                            <th> Type </th>
                                            <th> Name</th>
                                            <th> Scheme </th>
                                            <th> Ledger </th>

                                        </tr>
                                    </thead>
                                    <tbody id="tbBooks">
                                        @{

                                            int i = 0;
                                           

                                            foreach (var item in Model.ConfigLst.ToList())
                                            {
                                                <tr id="trBook@(i)" class="chkitemlst" style="height: 30px;border-bottom: 1px dashed #ddd;">


                                                    <td> @Html.DisplayFor(o => o.ConfigLst[i].Type)</td>
                                                    <td> @Html.DisplayFor(o => o.ConfigLst[i].Tname)</td>
                                                    <td> @Html.DisplayFor(o => o.ConfigLst[i].Schname)</td>
                                                    <td> @Html.DisplayFor(o => o.ConfigLst[i].ledger)</td>
                                                    

                                                    
                                                   


                                                </tr>
                                                i = i + 1;
                                               

                                            }
                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div>
                       
                    </form>
                   
                </div>
                <div style="height:30px;"></div>
                <div class="col-lg-10"></div>
                <a button class="btn btn-danger" type="button" href="@Url.Action("ListAccConfig", "AccConfig")">Cancel</a>

            </div>
        </div>
    </div>
</div>

<script>

    $(function () {
        $(document).on('click', '.closeFancybox', function () {
            $.fancybox.close();
        })
    })
</script>