@model RetailSales.Models.Company

@{
    ViewData["Title"] = "Company";
}
<style>
    .mandatory {
        color: red;
        position: relative;
        top: 2px;
        left: 5px;
    }
</style>

<script type="text/javascript">
    @if (TempData["notice"] != null)
    {
        @:alert('@TempData["notice"]');
    }
</script>

<div class="row wrapper border-bottom page-heading">
    <div class="col-lg-12">

        <ol class="breadcrumb">
            <li class="active"> <strong>Company </strong> </li>
        </ol>
    </div>
</div>
<div class="wrapper-content ">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="widgets-container">
                    @using (Html.BeginForm("Company", "Company", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <form>
                            <br />
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <br /><label for="inputName3" class="col-sm-4 control-label">Company Code<label class="mandatory">*</label></label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(C => C.Code, new { @id = "txtCode", @class = "form-control", @TabIndex = 2 })
                                            @Html.HiddenFor(C => C.ID)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <br /><label for="inputName3" class="col-sm-4 control-label">Company Name<label class="mandatory">*</label></label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(C => C.CompanyName, new { @id = "txtCompanyName", @class = "form-control", @TabIndex = 2 })

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <br /><label for="inputName3" class="col-sm-4 control-label">Address<label class="mandatory">*</label></label>
                                        <div class="col-sm-8">
                                            @Html.TextAreaFor(C => C.Address, new { @id = "txtAddress", @class = "form-control", @TabIndex = 2 })

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <br /><label for="inputName3" class="col-sm-4 control-label">Country<label class="mandatory">*</label></label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(C => C.Country, new { @id = "txtCountry", @class = "form-control", @TabIndex = 2 })

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <br /><label for="inputName3" class="col-sm-4 control-label">State<label class="mandatory">*</label></label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(C => C.State, new { @id = "txtState", @class = "form-control", @TabIndex = 2 })

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <br /><label for="inputName3" class="col-sm-4 control-label">City<label class="mandatory">*</label></label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(C => C.City, new { @id = "txtCity", @class = "form-control", @TabIndex = 2 })

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <br /><label for="inputName3" class="col-sm-4 control-label">Mobile No<label class="mandatory">*</label></label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(C => C.Mobile, new { @id = "txtMobile", @class = "form-control", @TabIndex = 2 })

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <br /><label for="inputName3" class="col-sm-4 control-label">Landline No<label class="mandatory"></label></label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(C => C.Landline, new { @id = "txtLandline", @class = "form-control", @TabIndex = 2 })

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <br /><label for="inputName3" class="col-sm-4 control-label">Fax<label class="mandatory"></label></label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(C => C.Fax, new { @id = "txtFax", @class = "form-control", @TabIndex = 2 })

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <br /><label for="inputName3" class="col-sm-4 control-label">Email ID<label class="mandatory">*</label></label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(C => C.Email, new { @id = "txtEmail", @class = "form-control", @TabIndex = 2 })

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <br /><label for="inputName3" class="col-sm-4 control-label">GST No<label class="mandatory">*</label></label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(C => C.CST, new { @id = "txtCST", @class = "form-control", @TabIndex = 2 })

                                        </div>
                                    </div>
                                </div>
                               
                            </div>

                            <div style="height:30px;"></div>
                            <div class="col-lg-8"></div>
                            <button type="submit" class="btn btn-success" type="button" id="btnSave">Submit</button>
                            <button class="btn btn-danger" type="button" causesvalidation="false" onclick="location.href='@Url.Action("ListCompany", "Company")'">Cancel</button>



                        </form>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $('._select').select2();
    });

    $(document).ready(function () {
        $('#btnSave').click(function (e) {
            var isValid = true;

            if (document.getElementById("txtCode").value == "") {
                isValid = false;
                $(txtCode).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Enter Company Code");
                return false;
            }
            else {
                $(txtCode).css({
                    "border": "",
                    "background": ""
                });
            }
            if (document.getElementById("txtCompanyName").value == "") {
                isValid = false;
                $(txtCompanyName).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Enter Company Name");
                return false;
            }
            else {
                $(txtCompanyName).css({
                    "border": "",
                    "background": ""
                });
            }

            if (document.getElementById("txtAddress").value == "") {
                isValid = false;
                $(txtAddress).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Enter Address");
                return false;
            }
            else {
                $(txtAddress).css({
                    "border": "",
                    "background": ""
                });
            }

            if (document.getElementById("ddlCountry").value == "") {
                isValid = false;
                $(ddlCountry).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Select Country");
                return false;
            }
            else {
                $(ddlCountry).css({
                    "border": "",
                    "background": ""
                });
            }
            if (document.getElementById("ddlState").value == "") {
                isValid = false;
                $(ddlState).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Select State");
                return false;
            }
            else {
                $(ddlState).css({
                    "border": "",
                    "background": ""
                });
            }

            if (document.getElementById("ddlCity").value == "") {
                isValid = false;
                $(ddlCity).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Select City");
                return false;
            }
            else {
                $(ddlCity).css({
                    "border": "",
                    "background": ""
                });
            }

            if (document.getElementById("txtMobile").value == "") {
                isValid = false;
                $(txtMobile).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Enter Mobile");
                return false;
            }
            else {
                $(txtMobile).css({
                    "border": "",
                    "background": ""
                });
            }
            if (document.getElementById("txtMobile").value == "") {
                isValid = false;
                $(txtMobile).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Enter Mobile");
                return false;
            }
            else {
                $(txtMobile).css({
                    "border": "",
                    "background": ""
                });
            }
            if (document.getElementById("txtEmail").value == "") {
                isValid = false;
                $(txtEmail).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Enter Email");
                return false;
            }
            else {
                $(txtEmail).css({
                    "border": "",
                    "background": ""
                });
            }

            if (document.getElementById("txtGST").value == "") {
                isValid = false;
                $(txtGST).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Enter GST No");
                return false;
            }
            else {
                $(txtGST).css({
                    "border": "",
                    "background": ""
                });
            }

            if (isValid == false)
                e.preventDefault();
        });

    });
</script>
