@model RetailSales.Models.Master.Rate
@{
    ViewData["Title"] = "Rate";
}
<style>
    .newwidth {
        width: 120px;
    }
</style>
<div style="height:25px;"></div>
<div class="row wrapper border-bottom page-heading">
    <div class="col-lg-12">

        <ol class="breadcrumb">
            <li class="active"> <strong>Rate</strong> </li>
        </ol>
    </div>
</div>

<div class="wrapper-content ">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="widgets-container">
                    @using (Html.BeginForm("RateView", "Rate", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <form>
                            <br />
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group d-flex align-items-center">
                                        <label for="inputName3" class="col-sm-5 control-label"><strong>Product Category :</strong><label class="mandatory"></label></label>
                                        <div class="col-sm-12">
                                            @Html.HiddenFor(C => C.ID)
                                            <div class="ml-2">@Html.DisplayFor(C => C.Product)</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group d-flex align-items-center">
                                        <label for="inputName3" class="col-sm-5 control-label"><strong>Product Name :</strong><label class="mandatory"></label></label>
                                        <div class="col-sm-12">
                                            <div class="ml-2">@Html.DisplayFor(C => C.ProName)</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group d-flex align-items-center">
                                        <label for="inputName3" class="col-sm-4 control-label"><strong>Variant :</strong><label class="mandatory"></label></label>
                                        <div class="col-sm-12">
                                            <div class="ml-2">@Html.DisplayFor(C => C.Varint)</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="height:30px;"></div>
                            <div class="row">
                                <div class="col-lg-12">

                                    <table id="example7" class="display nowrap table  responsive nowrap table-bordered">
                                        <thead>
                                            <tr>

                                                <th>Source UOM</th>
                                                <th>Destination UOM</th>
                                                <th>CF</th>                                              
                                                <th> Product Rate (₹) </th>
                                                <th> Percent (%) </th>
                                                <th> Sales Rate (₹) </th>
                                             
                                            </tr>
                                        </thead>

                                        <tbody>
                                            @{
                                                int i = 0;
                                                int j = 1;

                                                foreach (var item in Model.RateListItemlst.ToList())
                                                {

                                                    <tr>
                                                        <td>
                                                            @Html.DisplayFor(o => o.RateListItemlst[i].SrcUom)
                                                            @Html.HiddenFor(o => o.RateListItemlst[i].SrcUom)
                                                            @Html.HiddenFor(o => o.RateListItemlst[i].ID)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(o => o.RateListItemlst[i].DestUom)
                                                            @Html.HiddenFor(o => o.RateListItemlst[i].DestUom)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(o => o.RateListItemlst[i].CF)
                                                            @Html.HiddenFor(o => o.RateListItemlst[i].CF)
                                                        </td>
                                                        <td style="text-align: center;">
                                                            @Html.DisplayFor(o => o.RateListItemlst[i].ProdRate)
                                                            @Html.HiddenFor(o => o.RateListItemlst[i].ProdRate, new { @id = "txtProdRate" + i })
                                                        </td>
                                                        <td>
                                                            @Html.TextBoxFor(o => o.RateListItemlst[i].Percentage, new { @id = "txtPercentage" + i, @class = "form-control", style = "width: 100px; text-align: right;", onkeydown = "return isNumeric2(event.keyCode,this.value)", @onkeyup = "changeDisc(this," + i + ")" })
                                                        </td>
                                                        <td>
                                                            @Html.TextBoxFor(o => o.RateListItemlst[i].SalesRate, new { @id = "txtSalesRate" + i, @class = "form-control", style = "width: 100px; text-align: right;", Type = "number", @readonly = "readonly" })
                                                        </td>
                                                        @*<td>
                                                            @Html.HiddenFor(o => o.RateListItemlst[i].Isvalid, new { @id = "Isvalid" + i })
                                                        </td> *@
                                                    </tr>
                                                    i = i + 1;
                                                    j = j + 1;
                                                }
                                            }

                                        </tbody>
                                    </table>
                                </div>
                            </div>                                                                                                                   
                            <div style="height:30px;"></div>
                            <div class="col-lg-8"></div>
                            <button type="submit" class="btn btn-success" type="button" id="btnSave">Submit</button>
                            <button class="btn btn-danger" type="button" causesvalidation="false" onclick="location.href='@Url.Action("ListRate", "Rate")'">Cancel</button>


                        </form>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('._select').select2();
    });

    function changeDisc(_this, i) {
        try {
            var i = 0;
            var prodRate = parseFloat(document.getElementById("txtProdRate" + i).value) || 0;
            var Percent = parseFloat(document.getElementById("txtPercentage" + i).value) || 0;


            salespercrate = (prodRate * Percent) / 100;
            total = prodRate + salespercrate;

            document.getElementById("txtSalesRate" + i).value = total.toFixed(2);


        } catch (ex) {
            alert("Error: " + ex.message);
        }
    }
</script>

