@model RetailSales.Models.DirectPurchase

@{
    Layout = "_PopupLayout";
    ViewData["Title"] = "DirectPurchase";
}
<style>
    .mandatory {
        color: red;
        position: relative;
        top: 2px;
        left: 5px;
    }
</style>

<div class="wrapper-content ">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="widgets-container">
                    <h5 style="font-size:14px">Supplier @Html.DisplayFor(C => C.Suppid)</h5>
                    <hr>

                    <form>
                        <br />
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="inputName3" class="col-sm-5 control-label">Supplier Category<label class="mandatory">*</label></label>
                                    <div class="col-sm-8">
                                        @Html.DropDownListFor(C => C.Category, Model.Catlst, "--Please Select--", new { @id = "ddlCategory", @Class = "form-control _select", @TabIndex = 1 })

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="inputName3" class="col-sm-5 control-label">Supplier Name<label class="mandatory">*</label></label>
                                    <div class="col-sm-8">
                                        @Html.TextBoxFor(C => C.Suppid, new { @id = "txtSuppid", @class = "form-control", @TabIndex = 2 })
                                        @Html.HiddenFor(C => C.ID)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="inputName3" class="col-sm-5 control-label">Supplier Address</label>
                                    <div class="col-sm-8">
                                        @Html.TextAreaFor(C => C.Supplieraddress, new { @id = "txtSuppadd", @class = "form-control", @TabIndex = 2 })

                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="inputname3" class="col-sm-4 control-label">Credit Days<label class="mandatory">*</label></label>
                                    <div class="col-sm-8">
                                        @Html.TextBoxFor(C => C.Days, new { @id = "txtDays", @class = "form-control", @TabIndex = 2 })

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="gstNumber" class="col-sm-4 control-label">GST No<label class="mandatory">*</label></label>
                                    <div class="col-sm-8">
                                        @Html.TextBoxFor(C => C.GST, new { @id = "gstNumber", @class = "form-control", @TabIndex = 2, onchange = "validateGSTNumber()" })

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="inputName3" class="col-sm-4 control-label">State</label>
                                    <div class="col-sm-8">
                                        @Html.DropDownListFor(C => C.State, Model.Statelst, "--Please Select--", new { @id = "ddlState", @Class = "form-control _select", @TabIndex = 1, onchange = "changecity(this.value)" })

                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="inputName3" class="col-sm-4 control-label">City</label>
                                    <div class="col-sm-8">
                                        @Html.DropDownListFor(C => C.City, Model.Citylst, "--Please Select--", new { @id = "ddlCity", @Class = "form-control _select", @TabIndex = 1 })

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="inputName3" class="col-sm-4 control-label">Mobile No<label class="mandatory">*</label></label>
                                    <div class="col-sm-8">
                                        @Html.TextBoxFor(C => C.Mobile, new { @id = "txtMobile", @class = "form-control", @TabIndex = 2, type = "number", onkeydown = "return isNumeric2(event.keyCode,this.value)" })

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="inputName3" class="col-sm-4 control-label">Landline No</label>
                                    <div class="col-sm-8">
                                        @Html.TextBoxFor(C => C.Landline, new { @id = "txtLandline", @class = "form-control", @TabIndex = 2, type = "number" })

                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="inputName3" class="col-sm-4 control-label">Email ID</label>
                                    <div class="col-sm-8">
                                        @Html.TextBoxFor(C => C.Email, new { @id = "txtEmail", @class = "form-control", @TabIndex = 2 })

                                    </div>
                                </div>
                            </div>

                        </div>
                        

                        <div style="height:30px;"></div>
                        <input type="submit" class="btn btn-success" value="Save" id="btnSave" />
                        <input type="button" class="btn btn-danger" value="Close" onClick="window.parent.jQuery.fancybox.close();" />
                        
                    </form>

                </div>
            </div>
        </div>

    </div>
</div>

<script>
    $(function () {
        $('._select').select2();
    });
    function validateGSTNumber() {
        var gstNumber = document.getElementById('gstNumber').value;
        var gstPattern = /^[0-9]{2}[A-Z]{5}[0-9]{4}[A-Z]{1}[A-Z0-9]{1}[Z]{1}[0-9]{1}$/;

        if (gstPattern.test(gstNumber)) {
            // If the GST number is valid, hide the error message
            //document.getElementById('gstError').style.display = 'none';
        } else {
            // If the GST number is invalid, show the error message
            alert("Invalid GST No");
           // document.getElementById('gstError').style.display = 'inline';
        }
    }
    function PopulateDropDown(dropDownId, list) {
        //alert(list);
        $(dropDownId).empty().append('<option selected="selected" value="0">--Please select--</option>');
        if (list != null && list.length > 0) {
            $(dropDownId).removeAttr("disabled");
            $.each(list, function () {
                $(dropDownId).append($("<option></option>").val(this['value']).html(this['text']));
            });
        }
        $(dropDownId).trigger("liszt:updated");
    }
    function changecity(STATE_NAME) {
        $.ajax({
            url: "GetCityJSON",
            type: "post",
            data: { 'cityid': STATE_NAME },
            cache: false,
            success: function (response) {
                PopulateDropDown("#ddlCity", response);
            },
            error: function () {
                debugger;
                alert("Please Select State");
            }
        });
    }
    $(document).ready(function () {
        $('#btnSave').click(function (e) {
            var isValid = true;
            if (document.getElementById("ddlCategory").value == "" || document.getElementById("ddlCategory").value == 0) {
                isValid = false;
                $(ddlCategory).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Select Supplier Category");
                return false;
            }
            else {
                $(ddlCategory).css({
                    "border": "",
                    "background": ""
                });
            }
            if (document.getElementById("txtSuppid").value == "" || document.getElementById("txtSuppid").value == 0) {
                isValid = false;
                $(txtSuppid).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Enter Supplier Name");
                return false;
            }
            else {
                $(txtSuppid).css({
                    "border": "",
                    "background": ""
                });
            }
            if (document.getElementById("txtDays").value == "" || document.getElementById("txtDays").value == 0) {
                isValid = false;
                $(txtDays).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Enter Credit Days");
                return false;
            }
            else {
                $(txtDays).css({
                    "border": "",
                    "background": ""
                });
            }
            if (document.getElementById("gstNumber").value == "" || document.getElementById("gstNumber").value == 0) {
                isValid = false;
                $(gstNumber).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Enter GST No");
                return false;
            }
            else {
                $(gstNumber).css({
                    "border": "",
                    "background": ""
                });
            }
            var gstNumber = document.getElementById('gstNumber').value;
        var gstPattern = /^[0-9]{2}[A-Z]{5}[0-9]{4}[A-Z]{1}[A-Z0-9]{1}[Z]{1}[0-9]{1}$/;

        if (gstPattern.test(gstNumber)) {
            // If the GST number is valid, hide the error message
            //document.getElementById('gstError').style.display = 'none';
        } else {

            // If the GST number is invalid, show the error message
            alert("Invalid GST No");
            return false;
           // document.getElementById('gstError').style.display = 'inline';
        }

            if (document.getElementById("txtMobile").value == "" || document.getElementById("txtMobile").value == 0) {
                isValid = false;
                $(txtMobile).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Enter Mobile");
                return false;
            }
            else {
                $(txtMobile).css({
                    "border": "",
                    "background": ""
                });
            }


             if (isValid == false){
                  e.preventDefault();
             }
             else{
                 var Category = document.getElementById("ddlCategory").value;
                 var SupplierName = document.getElementById("txtSuppid").value;
                 var SupplierAdd = document.getElementById("txtSuppadd").value;
                 var Days = document.getElementById("txtDays").value;
                 var GST = document.getElementById("gstNumber").value;
                 var State = document.getElementById("ddlState").value;
                 var City = document.getElementById("ddlCity").value;
                 var Mobile = document.getElementById("txtMobile").value;
                 var Landline = document.getElementById("txtLandline").value;
                 var Email = document.getElementById("txtEmail").value;
                 

                $.ajax({
                    type: "POST",
                    url: "SaveSupplier",
                    data: { "Category": Category, "SupplierName": SupplierName,"SupplierAdd": SupplierAdd,"Days": Days,"GST": GST,"State": State,"City": City,"Mobile": Mobile,"Landline": Landline,"Email": Email, },
                    success: function (r) {
                        //alert(r.id)
                            window.parent.AddSupplier(Category,r.id,SupplierAdd,Days,GST,State,City,Mobile,Landline,Email);
                       window.parent.jQuery.fancybox.close();
                    }
                });

             }


        });



    });
</script>



