@model RetailSales.Models.Productdetail

@{
    ViewData["Title"] = "Product";
}
<style>
    .mandatory {
        color: red;
        position: relative;
        top: 2px;
        left: 5px;
    }
</style>
<script type="text/javascript">
    @if (TempData["notice"] != null)
    {
        @:alert('@TempData["notice"]');
    }
</script>
<div style="height:20px;"></div>
<div class="row wrapper border-bottom page-heading">
    <div class="col-lg-12">

        <ol class="breadcrumb">
            <li class="active"> <strong>Variant</strong> </li>
        </ol>
    </div>
</div>
<div class="wrapper-content ">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="widgets-container">
                    @using (Html.BeginForm("Productdetail", "Productdetail", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <form>
                            <br />
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <br> <label for="inputName3" class="col-sm-5 control-label">Product Category<label class="mandatory">*</label></label>
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(C => C.Product, Model.Categorylst, "---Please Select---", new { @id = "ddlProduct", @Class = "form-control _select", @TabIndex = 1, onchange = "changeVarientDetails(this.value)" })
                                            @Html.HiddenFor(C => C.ID)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <br><label for="inputName3" class="col-sm-5 control-label">Product Name<label class="mandatory">*</label></label>
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(C => C.ProName, Model.Productlst, "---Please Select---", new { @id = "ddlProName", @Class = "form-control _select", @TabIndex = 1 })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <br><label for="inputName3" class="col-sm-5 control-label">Product Variant<label class="mandatory">*</label></label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(C => C.Varint, new { @id = "txtVarint", @class = "form-control", @TabIndex = 1 })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <br> <label for="inputName3" class="col-sm-5 control-label">UOM<label class="mandatory">*</label></label>
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(C => C.Uom, Model.Uomlst, "---Please Select---", new { @id = "ddlUom", @Class = "form-control _select", @TabIndex = 1 })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                    <br> <label for="inputName3" class="col-sm-5 control-label">HSN Code<label class="mandatory">*</label></label>
                                        <div class="col-sm-8">                                         
                                            @Html.DropDownListFor(C => C.Hsncode, Model.Hsnlst, "---Please Select---", new { @id = "ddlHsn", @Class = "form-control _select", @TabIndex = 1 })
                                       </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <br> <label for="inputName3" class="col-sm-5 control-label">Minimum Qty<label class="mandatory"></label></label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(C => C.Minqty, new { @id = "txtMinqty", @class = "form-control", @TabIndex = 1 })<br />

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <br> <label for="inputName3" class="col-sm-5 control-label">Rate<label class="mandatory">*</label></label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(C => C.Rate, new { @id = "txtRate", @class = "form-control", @TabIndex = 1 })<br />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <br><label for="inputName3" class="col-sm-5 control-label">Product Description<label class="mandatory"></label></label>
                                        <div class="col-sm-8">
                                            @Html.TextAreaFor(C => C.Productdescription, new { @id = "txtDescription", @class = "form-control", @TabIndex = 1 })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="height:30px;"></div>
                            <div class="col-lg-8"></div>
                            <button type="submit" class="btn btn-success" type="button" id="btnSave">Submit</button>
                            <button class="btn btn-danger" type="button" causesvalidation="false" onclick="location.href='@Url.Action("ListProductdetail", "Productdetail")'">Cancel</button>



                        </form>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $('._select').select2();
    });

    function PopulateDropDown(dropDownId, list) {
        //alert(list);
        $(dropDownId).empty().append('<option selected="selected" value="0">--Please select--</option>');
        if (list != null && list.length > 0) {
            $(dropDownId).removeAttr("disabled");
            $.each(list, function () {
                $(dropDownId).append($("<option></option>").val(this['value']).html(this['text']));
            });
        }
        $(dropDownId).trigger("liszt:updated");
    }

    function changeVarientDetails(PRODUCT_CATEGORY) {
        $.ajax({
            url: "GetProductJSON",
            type: "post",
            data: { 'productid': PRODUCT_CATEGORY },
            cache: false,
            success: function (response) {
                PopulateDropDown("#ddlProName", response);
            },
            error: function () {
                debugger;
                alert("Please Select Product Name");
            }
        });
    }

    $(document).ready(function () {
        $('#btnSave').click(function (e) {
            var isValid = true; 

            if (document.getElementById("ddlProduct").value == "") {
                isValid = false;
                $(ddlProduct).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Select Product Category");
                return false;
            }
            else {
                $(ddlProduct).css({
                    "border": "",
                    "background": ""
                });
            }

            if (document.getElementById("ddlProName").value == "") {
                isValid = false;
                $(ddlProName).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Select Product Name");
                return false;
            }
            else {
                $(ddlProName).css({
                    "border": "",
                    "background": ""
                });
            }

            if (document.getElementById("txtVarint").value == "") {
                isValid = false;
                $(txtVarint).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Enter Variant");
                return false;
            }
            else {
                $(txtVarint).css({
                    "border": "",
                    "background": ""
                });
            }
            if (document.getElementById("ddlUom").value == "") {
                isValid = false;
                $(ddlUom).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Select UOM");
                return false;
            }
            else {
                $(ddlUom).css({
                    "border": "",
                    "background": ""
                });
            }
            if (document.getElementById("ddlHsn").value == "") {
                isValid = false;
                $(ddlHsn).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Select HSN Code");
                return false;
            }
            else {
                $(ddlHsn).css({
                    "border": "",
                    "background": ""
                });
            }
            if (document.getElementById("txtRate").value == "") {
                isValid = false;
                $(txtRate).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Enter Rate");
                return false;
            }
            else {
                $(txtRate).css({
                    "border": "",
                    "background": ""
                });
            }
            
            if (document.getElementById("txtminqty").value == "") {
                isValid = false;
                $(txtminqty).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Enter Minimum Qty");
                return false;
            }
            else {
                $(txtminqty).css({
                    "border": "",
                    "background": ""
                });
            }
            
            if (isValid == false)
                e.preventDefault();
        });

    });
</script>
