@model RetailSales.Models.Inventory.StockAdjustment

@{
    Layout = "_PopupLayout";
    ViewData["Title"] = "Stock Adjustment";
}
<style>
    .mandatory {
        color: red;
        position: relative;
        top: 2px;
        left: 5px;
    }
</style>

<script type="text/javascript">
    @if (TempData["notice"] != null)
    {
        @:alert('@TempData["notice"]');
    }
</script>
<div style="height:25px;"></div>
<div class="row wrapper border-bottom page-heading">
    <div class="col-lg-12">

        <ol class="breadcrumb">
            <li class="active"> <strong>View Stock Adjustment </strong> </li>
        </ol>
    </div>
</div>

<div class="wrapper-content ">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="widgets-container">
                    @using (Html.BeginForm("ViewStockAdjustment", "StockAdjustment", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <form>
                            <br />
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="inputName3" class="col-sm-5 control-label"><strong>Location :</strong><label class="mandatory"></label></label>
                                        
                                            @Html.HiddenFor(C => C.ID)
                                            @Html.DisplayFor(C => C.Location)
                                        
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="inputName3" class="col-sm-4 control-label"><strong>Type :</strong><label class="mandatory"></label></label>
                                        
                                            @Html.DisplayFor(C => C.Type)
                                        
                                    </div>
                                </div>
                                
                            </div>
                            <div style="height:20px;"></div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="inputName3" class="col-sm-5 control-label"><strong>Stock Adjustment Number :</strong><label class="mandatory"></label></label>
                                        
                                            @Html.DisplayFor(C => C.DocId)
                                        
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">

                                        <label for="inputName3" class="col-sm-4 control-label"><strong>Date :</strong><label class="mandatory"></label></label>
                                        
                                            @Html.DisplayFor(C => C.DocDate)
                                        
                                    </div>
                                </div>
                                
                            </div>

                            <div style="height:30px;"></div>
                            <div class="row">
                                <div class="col-lg-12">


                                    <table id="example7" class="display nowrap table  responsive nowrap table-bordered">
                                        <thead>
                                            <tr>

                                                <th>Product Category</th>
                                                <th>Product Name</th>
                                                <th>Variant</th>
                                                <th>Unit</th>
                                                <th> Stock Qty </th>
                                                <th> Qty </th>
                                                @* <th> Rate (₹) </th>
                                                <th> Amount (₹)</th> *@
                                        </thead>

                                        <tbody>
                                            @{
                                                int i = 0;

                                                foreach (var item in Model.StockAdjustmentList.ToList())
                                                {

                                                    <tr>
                                                        <td>@Html.DisplayFor(o => o.StockAdjustmentList[i].Item)</td>
                                                        <td>@Html.DisplayFor(o => o.StockAdjustmentList[i].Product)</td>
                                                        <td>@Html.DisplayFor(o => o.StockAdjustmentList[i].Variant)</td>
                                                        <td>@Html.DisplayFor(o => o.StockAdjustmentList[i].Unit)</td>
                                                        <td>@Html.DisplayFor(o => o.StockAdjustmentList[i].StockQty)</td> 
                                                        <td>@Html.DisplayFor(o => o.StockAdjustmentList[i].Qty)</td>
                                                       @* <td style="text-align: right;">@Html.HiddenFor(o => o.StockAdjustmentList[i].Rate)</td>
                                                        <td style="text-align: right;">@Html.HiddenFor(o => o.StockAdjustmentList[i].Amount)</td>*@
                                                    </tr>
                                                    //i = i + 1;
                                                    i++;
                                                }
                                            }

                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div style="height:30px;"></div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">

                                        <label for="inputName3" class="col-sm-4 control-label"><strong>Narration :</strong><label class="mandatory"></label></label>
                                        
                                            @Html.DisplayFor(C => C.Reason)
                                        
                                    </div>
                                </div>
                            </div>




                            <div style="height:20px;"></div>

                            <input type="button" class="btn btn-danger" value="Close" onClick="window.parent.jQuery.fancybox.close();" />
                            
                            @* <button type="submit" class="btn btn-success" type="button" id="btnSave">Sales Return</button> *@
                            @* <button class="btn btn-danger" type="button" causesvalidation="false" onclick="location.href='@Url.Action("ListStockTransfer", "StockTransfer")'">Cancel</button>*@
                            


                        </form>
                    }
                </div>
            </div>
        </div>
    </div>
</div>



