@model RetailSales.Models.Sequence

@{
    ViewData["Title"] = "Sequence";
}
<style>
    .mandatory {
        color: red;
        position: relative;
        top: 2px;
        left: 5px;
    }
</style>

<script type="text/javascript">
    @if (TempData["notice"] != null)
    {
        @:alert('@TempData["notice"]');
    }
</script>

<div class="row wrapper border-bottom page-heading">
    <div class="col-lg-12">

        <ol class="breadcrumb">
            <li class="active"> <strong>Sequence</strong> </li>
        </ol>
    </div>
</div>
<div class="wrapper-content ">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="widgets-container">
                    @using (Html.BeginForm("Sequence", "Sequence", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <form>
                            <br />
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <br><label for="inputName3" class="col-sm-6 control-label">Transection Type<label class="mandatory">*</label></label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(C => C.Transection, new { @id = "txtTransectiontype", @class = "form-control", @TabIndex = 1 })
                                            @Html.HiddenFor(C => C.ID)
                                        </div>
                                    </div>
                                </div>


                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <br><label for="inputName3" class="col-sm-6 control-label">Prefix<label class="mandatory">*</label></label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(C => C.Prefix, new { @id = "txtPrefix", @class = "form-control", @TabIndex = 1 })

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <br><label for="inputName3" class="col-sm-6 control-label">Suffix<label class="mandatory"></label></label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(C => C.Suffix, new { @id = "txtSuffix", @class = "form-control", @TabIndex = 1 , @readonly = true})

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <br><label for="inputName3" class="col-sm-6 control-label">Last Number<label class="mandatory">*</label></label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(C => C.Lnumber, new { @id = "txtLastnumber", @class = "form-control", @TabIndex = 1 })
                                            @Html.HiddenFor(C => C.ID)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <br><label for="inputName3" class="col-sm-6 control-label">Number Length<label class="mandatory"></label></label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(C => C.Number, new { @id = "txtNumberlength", @class = "form-control", @TabIndex = 1 })

                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div style="height:30px;"></div>
                            <div class="col-lg-8"></div>
                            <button type="submit" class="btn btn-success" type="button" id="btnSave">Submit</button>
                            <button class="btn btn-danger" type="button" causesvalidation="false" onclick="location.href='@Url.Action("ListSequence", "Sequence")'">Cancel</button>
                        </form>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $('._select').select2();
    });

    $(document).ready(function () {
        $('#btnSave').click(function (e) {
            var isValid = true;
            if (document.getElementById("txtTransectiontype").value == "") {
                isValid = false;
                $(txtTransectiontype).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Enter Transection Type");
                return false;
            }
            else {
                $(txtTransectiontype).css({
                    "border": "",
                    "background": ""
                });
            }
            if (document.getElementById("txtPrefix").value == "") {
                isValid = false;
                $(txtPrefix).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Enter Prefix");
                return false;
            }
            else {
                $(txtPrefix).css({
                    "border": "",
                    "background": ""
                });
            }
            if (document.getElementById("txtLastnumber").value == "") {
                isValid = false;
                $(txtLastnumber).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Enter Lastnumber");
                return false;
            }
            else {
                $(txtLastnumber).css({
                    "border": "",
                    "background": ""
                });
            }

            if (isValid == false)
                e.preventDefault();
        });

    });
</script>
