@model RetailSales.Models.SalesInvoiceReport

@{
    Layout = "_PopupLayout";
    ViewData["Title"] = "SalesInvoice Report";
}
<style>
    .mandatory {
        position: relative;
        top: 2px;
        left: 5px;
    }

    #logo {
        height: 100px;
        width: 500px;

    }

    .boxed-text {
        border: 1px solid #000;
        padding: 10px;
        width: fit-content;
        margin: 10px;
    }

    #boxed-text{
        border: 1px solid #000;
        padding: 10px;
        width: fit-content;
        margin: 10px;
    }
</style>
<script type="text/javascript">
    @if (TempData["notice"] != null)
    {
        @:alert('@TempData["notice"]');
    }
</script>
@**@

<div class="container">


    <div class="row">
        <div class="col-sm-12 text-left mt-3">
            <button class="btn btn-outline-success me-2" type="button" onclick="printInvoice()">Print</button>
            <button class="btn btn-outline-primary me-2" type="button" onclick="myFunction()">PDF</button>
            <button class="btn btn-outline-secondary me-2" type="button" causesvalidation="false" onClick="window.parent.jQuery.fancybox.close();">Close</button>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="invoice">

                        @using (Html.BeginForm("SalesInvoiceReport1", "SalesInvoice", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            @* <div class="row">
                                <div class="col-sm-6">
                                    <div class="media">
                                    </div>
                                    <!-- End Info-->
                                </div>
                                <div class="col-sm-6">
                                    <div class="text-md-end ">
                                        <p>
                                            <h5 class="media-heading">Invoice NO : @Html.DisplayFor(C => C.InvNo)</h5>
                                            <h5 class="media-heading"> Invoice Date : @Html.DisplayFor(C => C.InvDate)</h5>

                                        </p>

                                    </div>
                                    <!-- End Title-->
                                </div>
                            </div> *@
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="text-md-end ">
                                        <p>
                                            <strong>Tax Invoice</strong><br />
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="text-md-end ">
                                        <p>
                                            <strong>(ORIGINAL FOR RECIPIENT)</strong><br />
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <!-- End InvoiceTop-->
                            <div class="row" id="boxed-text">
                                <div class="col-md-6">
                                    <div class="boxed-text">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div><img class="img-fluid for-light" id="logo" style="width:150px;" src="~/assets/images/logo/horizontal.png" alt="logo-light"><img class="img-fluid for-dark" style="width:150px;" src="~/assets/images/logo/horizontal.png" alt="logo-dark"></div>
                                            </div>
                                            <div class="col-md-8">
                                                @Html.HiddenFor(C => C.ID)
                                                <div class="media-body m-l-10">
                                                    <p>
                                                        <span style="font-weight:630;" class="media-heading">V.A.M. Rathinam And Brothers</span><br>
                                                        <span style="font-size:small; font-weight:300;">35,Fort Main Road, Shevapet, Salem-636002</span><br>
                                                        <span style="font-size:small; font-weight:500;">GSTIN/UIN : </span>33AACFV2120N1ZC<br>
                                                        <span style="font-size:small; font-weight:500;">State Name: </span>TamilNadu, Code:33<br>
                                                        <span style="font-size:small; font-weight:500;">Contact : </span>97902 33393
                                                    </p>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="row" id="boxed-text">
                                        <div class="col-md-12">
                                            
                                                <h5 class="media-heading">Consignee (Ship to)</h5>
                                                <p>
                                                    <strong>Name : </strong>@Html.DisplayFor(C => C.CustomerName)<br />
                                                    <strong>Address : </strong>@Html.DisplayFor(C => C.CustomerAdd)<br />
                                                    <strong>Mobile No : </strong>@Html.DisplayFor(C => C.CustomerPhNo)
                                                </p>
                                            
                                        </div>
                                    </div>



                                    <div class="row" id="boxed-text">
                                        <div class="media-body m-l-20">
                                            <h5 class="media-heading">Buyer (Bill to)</h5>
                                            <p>
                                                <strong>Name : </strong>@Html.DisplayFor(C => C.CustomerName)<br />
                                                <strong>Address : </strong>@Html.DisplayFor(C => C.CustomerAdd)<br />
                                                <strong>Mobile No : </strong>@Html.DisplayFor(C => C.CustomerPhNo)
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6" id="boxed-text">
                                    @* <p>
                                        <strong>Customer Name : </strong>@Html.DisplayFor(C => C.CustomerName)<br />
                                        <strong>Customer Address : </strong>@Html.DisplayFor(C => C.CustomerAdd)<br />
                                        <strong>Phone No : </strong>@Html.DisplayFor(C => C.CustomerPhNo)
                                    </p> *@

                                    <div class="tabs-container">
                                        @* <ul class="nav nav-pills nav-fill">
                                            <li class="active"><a href="#tab-1" data-toggle="tab">Transporter Details</a></li>
                                        </ul> *@
                                        <div class="tab-content">


                                            <div class="tab-pane active" id="tab-1">

                                                <div class="row">
                                                    <div class="col-md-12">
                                                        
                                                        <div class="form-group">
                                                            <div class="tab-pane active" id="tab-1">
                                                                <div class="row">
                                                                    <div class="col-md-6">
                                                                        <div class="form-group">
                                                                            <br /> <label for="inputName3" class="col-sm-12 control-label"><strong>Invoice No </strong><label class="Mandatory"></label></label>
                                                                            @Html.DisplayFor(C => C.InvNo)
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <div class="form-group">
                                                                            <br /> <label for="inputName3" class="col-sm-12 control-label"><strong>Invoice Date </strong><label class="Mandatory"></label></label>
                                                                            @Html.DisplayFor(C => C.InvDate)
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-6">
                                                                        <div class="form-group">
                                                                            <br /><label for="inputName3" class="col-sm-12 control-label"><strong>Delivery Note </strong><label class="Mandatory"></label></label>
                                                                            @* @Html.DisplayFor(C => C.LRdate) *@
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <div class="form-group">
                                                                            <br />  <label for="inputName3" class="col-sm-12 control-label"><strong>Mode/Terms of Payment </strong><label class="Mandatory"></label></label>
                                                                            @* @Html.DisplayFor(C => C.dispatchname) *@
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                @* <div style="height:10px;"></div> *@
                                                                <div class="row">
                                                                    <div class="col-md-6">
                                                                        <div class="form-group">
                                                                            <br /> <label for="inputName3" class="col-sm-12 control-label"><strong>Reference No & Date </strong><label class="Mandatory"></label></label>
                                                                            
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <div class="form-group">
                                                                            <br /> <label for="inputName3" class="col-sm-12 control-label"><strong>Other References </strong><label class="Mandatory"></label></label>

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-6">
                                                                        <div class="form-group">
                                                                            <br /> <label for="inputName3" class="col-sm-12 control-label"><strong>Buyer's Order No </strong><label class="Mandatory"></label></label>
                                                                            
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <div class="form-group">
                                                                            <br /> <label for="inputName3" class="col-sm-12 control-label"><strong>Dated </strong><label class="Mandatory"></label></label>

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-6">
                                                                        <div class="form-group">
                                                                            <br /> <label for="inputName3" class="col-sm-12 control-label"><strong>Dispatch Doc No </strong><label class="Mandatory"></label></label>

                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <div class="form-group">
                                                                            <br /> <label for="inputName3" class="col-sm-12 control-label"><strong>Delivery Note Date </strong><label class="Mandatory"></label></label>

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-6">
                                                                        <div class="form-group">
                                                                            <br /> <label for="inputName3" class="col-sm-12 control-label"><strong>Dispatched Through </strong><label class="Mandatory"></label></label>

                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <div class="form-group">
                                                                            <br /> <label for="inputName3" class="col-sm-12 control-label"><strong>Destination </strong><label class="Mandatory"></label></label>

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-6">
                                                                        <div class="form-group">
                                                                            <br /> <label for="inputName3" class="col-sm-12 control-label"><strong>Terms of Delivery </strong><label class="Mandatory"></label></label>

                                                                        </div>
                                                                    </div>
                                                                    
                                                                </div>
                                                                @*1st tab*@
                                                            </div>
                                                            @*1st tab*@

                                                        </div>
                                                        

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Invoice Mid-->
                            
                            <div class="boxed-text">
                                <div style="height:300px; width:830px;" >
                                    <table class="table table-bordered table-striped" id="table">
                                        <thead>
                                            <tr>

                                                <th style="text-align:center;">Description Of Goods</th>
                                                <th>HSN/SAC</th>
                                                <th> Quantity </th>
                                                <th>Rate (₹)</th>
                                                <th>Per</th>
                                                <th>Discount (%) </th>
                                                <th> Amount </th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            @{
                                                int i = 0;

                                                foreach (var item in Model.SalesInvoiceReportlst.ToList())
                                                {

                                                    <tr>
                                                        <td>@Html.DisplayFor(o => o.SalesInvoiceReportlst[i].Item)</td>
                                                        <td>@Html.DisplayFor(o => o.SalesInvoiceReportlst[i].HSN)</td>
                                                        <td>@Html.DisplayFor(o => o.SalesInvoiceReportlst[i].Qty)</td>
                                                        <td style="text-align: right;">@Html.DisplayFor(o => o.SalesInvoiceReportlst[i].Rate)</td>
                                                        <td>@Html.DisplayFor(o => o.SalesInvoiceReportlst[i].Per)</td>
                                                        <td>@Html.DisplayFor(o => o.SalesInvoiceReportlst[i].DiscPercent)</td>
                                                        <td style="text-align: right;">@Html.DisplayFor(o => o.SalesInvoiceReportlst[i].Total)</td>

                                                    </tr>
                                                    //i = i + 1;
                                                    i++;
                                                }
                                            }

                                        </tbody>
                                    </table>
                                </div>
                                <!-- End Table-->
                                <hr>
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="text-md-start ">
                                            <p>
                                                <strong>Amount Chargeable (in Words)</strong><br />
                                                @Html.DisplayFor(C => C.AmtInWords)

                                            </p>

                                        </div>
                                    </div>
                                    @* <div class="col-md-4">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <strong>Total Amount</strong>
                                            </div>
                                            <div class="col-md-6">
                                                : @Html.DisplayFor(C => C.TotAmt)<br />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <strong>Total Discount</strong>
                                            </div>
                                            <div class="col-md-6">
                                                : @Html.DisplayFor(C => C.Discount)<br />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <strong>Round Off</strong>
                                            </div>
                                            <div class="col-md-6">
                                                : @Html.DisplayFor(C => C.RoundOff)<br />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <strong>Grand Total</strong>
                                            </div>
                                            <div class="col-md-6">
                                                : @Html.DisplayFor(C => C.PayAmt)<br />
                                            </div>
                                        </div>
                                    </div> *@
                                </div>
                                <div style="height:30px;"></div>
                                <div class="row">
                                    <div class="col-md-6"></div>
                                    <div class="col-md-6">
                                        <div class="text-md-start">
                                            <span style="font-weight:700;">Company's Bank Details</span>
                                            @* <p>
                                                <strong>Bank Name : </strong>Tamilnad Merchantile Bank<br />
                                                <strong>Account No. : </strong>028700050900209<br />
                                                <strong>Branch Name & IFS Code : </strong>Shevapet & TMBL0000028
                                                <hr />
                                            </p> *@
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <strong>Bank Name</strong>
                                                </div>
                                                <div class="col-md-6">
                                                    : Tamilnad Merchantile Bank<br />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <strong>Account No.</strong>
                                                </div>
                                                <div class="col-md-6">
                                                    : 028700050900209<br />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <strong>Branch Name & IFS Code</strong>
                                                </div>
                                                <div class="col-md-6">
                                                    : Shevapet & TMBL0000028<br />
                                                </div>
                                            </div>
                                            <hr />
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-md-6">
                                        <span style="font-weight:700;">Company's PAN :</span>AACFV2120N<br />
                                        <span style="text-underline-offset:auto; font-weight:700;">Declaration:</span>
                                        <p>We declare that this invoice shows the actual price of the goods described and that all particulars are true and correct.</p>
                                    </div>
                                    <div class="col-md-6">
                                        
                                        <div class="text-md-end" style=" font-weight:700;">
                                            <p>for V.A.M.Rathinam & Bros.,</p><br />
                                            <p>Authorized Signature</p>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-12"></div>
                                    <div class="text-md-center">
                                        <br /><p>This is Computer generated Invoice</p>
                                    </div>
                                </div>
                            </div>
                            <!-- End InvoiceBot-->
                        }


                        <!-- End Invoice-->
                        <!-- End Invoice Holder-->
                        <!-- Container-fluid Ends-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function printInvoice() {
      const printContents = document.querySelector('.invoice').innerHTML;
      const originalContents = document.body.innerHTML;
      document.body.innerHTML = printContents;
      window.print();
      document.body.innerHTML = originalContents;
    }
</script>
