@model RetailSales.Models.SalesInvoiceReport

@{
    Layout = "_PopupLayout";
    ViewData["Title"] = "SalesInvoice Report";
}
<style>
    .mandatory {
        color: red;
        position: relative;
        top: 2px;
        left: 5px;
    }

</style>
<script type="text/javascript">
    @if (TempData["notice"] != null)
    {
        @:alert('@TempData["notice"]');
    }
</script>
<script src="~/js/printInvoice.js"></script>

<div class="container">


    <div class="row">
        <div class="col-sm-12 text-left mt-3">
            <button class="btn btn-outline-success me-2" type="button" onclick="printInvoice()">Print</button>
            <button class="btn btn-outline-primary me-2" type="button" onclick="myFunction()">PDF</button>
            <button class="btn btn-outline-secondary me-2" type="button" causesvalidation="false" onClick="window.parent.jQuery.fancybox.close();">Close</button>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="invoice">

                        @using (Html.BeginForm("SalesInvoiceReport", "SalesInvoice", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="text-md-end ">
                                        <p>
                                            <strong>Tax Invoice</strong><br />
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="text-md-end ">
                                        <p>
                                            <strong>(ORIGINAL FOR RECIPIENT)</strong><br />
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="media">
                                        <img src="~/assets/images/logo/VAM.png" style="max-width:250px; height:auto;">
                                    </div>
                                    <!-- End Info-->
                                </div>
                                <div class="col-sm-6">
                                    <div class="text-md-end ">
                                        <p>
                                            <h5 class="media-heading">Invoice NO : @Html.DisplayFor(C => C.InvNo)</h5>
                                            <h5 class="media-heading"> Invoice Date : @Html.DisplayFor(C => C.InvDate)</h5>

                                        </p>

                                    </div>
                                    <!-- End Title-->
                                </div>
                            </div>
                            <hr>
                            <!-- End InvoiceTop-->
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="media">
                                        @*  <div class="media-left"><img class="media-object rounded-circle img-60" src="../assets/images/user/1.jpg" alt=""></div> *@
                                        @* <label for="inputName3" class="col-sm-5 control-label"><strong>PO No :</strong><label class="mandatory"></label></label> *@

                                        @Html.HiddenFor(C => C.ID)

                                        <div class="media-body m-l-20">
                                            <h4 class="media-heading">V.A.M. Rathinam And Brothers</h4>
                                            <p>
                                                35,Fort Main Road,Shevapet,Salem-636002<br>
                                                <strong>GSTIN/UIN : </strong>33AACFV2120N1ZC<br>
                                                <strong>State Name: </strong>Tamil Nadu,Code:33<br>
                                                <span><strong>Contact : </strong>97902 33393</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    
                                            <p>
                                                @* <h4 class="media-heading">@Html.DisplayFor(C => C.CustomerName)</h4>
                                                @Html.DisplayFor(C => C.CustomerAdd)<br /> *@
                                                <strong>Customer Name : </strong>@Html.DisplayFor(C => C.CustomerName)<br />
                                                <strong>Customer Address : </strong>@Html.DisplayFor(C => C.CustomerAdd)<br />
                                                <strong>Phone No : </strong>@Html.DisplayFor(C => C.CustomerPhNo)
                                            </p>
                                        
                                </div>
                            </div>
                            <!-- End Invoice Mid-->
                            
                            <div>
                                <div class="table-responsive invoice-table custom-scrollbar" id="table">
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                            <tr>

                                                <th>Item</th>
                                                <th>HSN/SAC</th>
                                                <th> Quantity </th>
                                                <th>Rate (₹)</th>
                                                <th>Per</th>
                                                <th>Discount (%) </th>
                                                <th> Amount </th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            @{
                                                int i = 0;

                                                foreach (var item in Model.SalesInvoiceReportlst.ToList())
                                                {

                                                    <tr>
                                                        <td>@Html.DisplayFor(o => o.SalesInvoiceReportlst[i].Item)</td>
                                                        <td>@Html.DisplayFor(o => o.SalesInvoiceReportlst[i].HSN)</td>
                                                        <td>@Html.DisplayFor(o => o.SalesInvoiceReportlst[i].Qty)</td>
                                                        <td>@Html.DisplayFor(o => o.SalesInvoiceReportlst[i].Rate)</td>
                                                        <td>@Html.DisplayFor(o => o.SalesInvoiceReportlst[i].Per)</td>
                                                        <td>@Html.DisplayFor(o => o.SalesInvoiceReportlst[i].DiscPercent)</td>
                                                        <td>@Html.DisplayFor(o => o.SalesInvoiceReportlst[i].Total)</td>

                                                    </tr>
                                                    //i = i + 1;
                                                    i++;
                                                }
                                            }

                                        </tbody>
                                    </table>
                                </div>
                                <!-- End Table-->
                                <hr>
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="text-md-start ">
                                            <p>
                                                <strong>Amount In Words :</strong><br />
                                                @Html.DisplayFor(C => C.AmtInWords)

                                            </p>

                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <strong>Total Amount</strong>
                                            </div>
                                            <div class="col-md-6">
                                                : @Html.DisplayFor(C => C.TotAmt)<br />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <strong>Total Discount</strong>
                                            </div>
                                            <div class="col-md-6">
                                                : @Html.DisplayFor(C => C.Discount)<br />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <strong>Round Off</strong>
                                            </div>
                                            <div class="col-md-6">
                                                : @Html.DisplayFor(C => C.RoundOff)<br />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <strong>Grand Total</strong>
                                            </div>
                                            <div class="col-md-6">
                                                : @Html.DisplayFor(C => C.PayAmt)<br />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr>

                                <div style="height:30px;"></div>
                                <div class="row">
                                    <div class="col-md-6"></div>
                                    <div class="col-md-6">
                                        <div class="text-md-start">
                                            <span style="font-weight:700;">Company's Bank Details</span>
                                            @* <p>
                                        <strong>Bank Name : </strong>Tamilnad Merchantile Bank<br />
                                        <strong>Account No. : </strong>028700050900209<br />
                                        <strong>Branch Name & IFS Code : </strong>Shevapet & TMBL0000028
                                        <hr />
                                        </p> *@
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <strong>Bank Name</strong>
                                                </div>
                                                <div class="col-md-6">
                                                    : Tamilnad Merchantile Bank<br />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <strong>Account No.</strong>
                                                </div>
                                                <div class="col-md-6">
                                                    : 028700050900209<br />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <strong>Branch Name & IFS Code</strong>
                                                </div>
                                                <div class="col-md-6">
                                                    : Shevapet & TMBL0000028<br />
                                                </div>
                                            </div>
                                            <hr />
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <span style="font-weight:700;">Company's PAN :</span>AACFV2120N<br />
                                        <span style="text-underline-offset:auto; font-weight:700;">Declaration:</span>
                                        <p>We declare that this invoice shows the actual price of the goods described and that all particulars are true and correct.</p>
                                    </div>
                                    <div class="col-md-6">

                                        <div class="text-md-end" style=" font-weight:700;">
                                            <p>for V.A.M.Rathinam & Bros.,</p><br />
                                            <p>Authorized Signature</p>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                               
                                <div class="row">
                                    <div class="col-md-3"></div>
                                    <div class="col-md-9">
                                        <br /><p>This is Computer generated Prescription. Signing is not needed.</p>
                                    </div>
                                </div>
                            </div>
                                
                           
                            <!-- End InvoiceBot-->
                        }


                        <!-- End Invoice-->
                        <!-- End Invoice Holder-->
                        <!-- Container-fluid Ends-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


