@model RetailSales.Models.SalesInvoice
@{
    ViewData["Title"] = "Sales Invoice";
}
<style>
    .newwidth {
        width: 120px;
    }
</style>


<div class="wrapper-content ">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="widgets-container">
                    @using (Html.BeginForm("ViewSalesReturn", "SalesInvoice", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <label for="inputName3" class="col-sm-4 control-label">Invoice No<label class="Mandatory"></label></label>
                                        <div class="col-sm-8">
                                            @Html.HiddenFor(C => C.ID)
                                            @Html.DisplayFor(C => C.InvoiceNo)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="inputName3" class="col-sm-4 control-label">Invoice Date<label class="Mandatory"></label></label>

                                        <div class="col-sm-8">
                                            @Html.DisplayFor(C => C.InvoiceDate)
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div style="height:30px;"></div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <label for="inputName3" class="col-sm-4 control-label">Customer<label class="Mandatory"></label></label>
                                        <div class="col-sm-8">
                                            @Html.DisplayFor(C => C.Customer)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="inputName3" class="col-sm-4 control-label">Address<label class="Mandatory"></label></label>

                                        <div class="col-sm-8">
                                            @Html.DisplayFor(C => C.Address)
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div style="height:30px;"></div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <label for="inputName3" class="col-sm-4 control-label">Mobile No<label class="Mandatory"></label></label>
                                        <div class="col-sm-8">
                                            @Html.DisplayFor(C => C.Mobile)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="inputName3" class="col-sm-4 control-label">Remarks<label class="Mandatory"></label></label>

                                        <div class="col-sm-8">
                                            @Html.DisplayFor(C => C.Remarks)
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div style="height:30px;"></div>
                            <div class="col-lg-8"></div>
                            <button type="submit" class="btn btn-success" type="button" id="btnSave">SalesReturn</button>
                            <button class="btn btn-danger" type="button" causesvalidation="false" onclick="location.href='@Url.Action("SalesInvoice", "SalesInvoice")'">Cancel</button>


                        </form>
                    }
                </div>
            </div>
        </div>
    </div>
</div>



